<h2 class="text-center">Form</h2>
<div class="content">
  <!-- Table -->
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Dropdown ID</th>
            <th>Value</th>
            <th>isDisabled</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <td>{{this.dropdownID}}</td>
              <td>{{this.value}}</td>
              <td>{{this.isDisabled}}</td>
              <td><a href="/dropdownManager/enable/{{this.dropdownID}}" class="btn btn-success">Enable</a> <a href="/dropdownManager/disable/{{this.dropdownID}}" class="btn btn-secondary">Disable</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <!-- Add new dropdown value -->
  <div class="row">
    <div class="col-sm-6">
      <form method="POST">
        <label for="Dropdown Value" class="form-label title-text">New Dropdown Value</label>
        <input
          name="value"
          class="form-control"
          placeholder="New Value..."
          type="text"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          required
        />
        <div class="row">
          <div class="col">
            <button
              class="btn btn-primary"
              style="margin-top: 10px;"
              type="submit"
            >Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-6">
      <label for="Dropdown Select" class="form-label title-text">Test Dropdown</label>
      <select name="dropdown" class="form-select">
        <option disabled selected>Select A Value...</option>
        {{#each data}}<option value="{{this.dropdownID}}" {{#if this.isDisabled}} disabled {{/if}}>{{this.value}}</option>{{/each}}
      </select>
    </div>
  </div>
</div>