<h2 class="text-center mt-2">Dropdown Manager - {{formName}}</h2>
<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}
<h4>Filtering</h4>
<div class="row">
  <div class="col">
    <form class="mb-0" method="GET">
      <select
        class="form-select-sm"
        id="filterCategory"
        title="Category To Filter By"
        name="filterCategory"
        required
      >
        <option value="" disabled selected>Filter By...</option>
        <option value="Dropdown Title">Dropdown Title</option>
        <option value="Dropdown Value">Dropdown Value</option>
      </select>
      <!-- filterValue input -->
      <input
        name="filterValue"
        id="filterValue"
        class="form-control-sm"
        pattern="^[^\x27\x22;=_()*&%$#!<>\^\\]*$"
        title="No special characters!"
        placeholder="Search..."
        value="{{filterValue}}"
      />
      <button
        id="filterButton"
        class="btn btn-sm btn-primary"
        type="submit"
      >Search</button>
      <a
        id="filterButton"
        href="/dropdownManager/form/{{dropdownFormID}}"
        class="btn btn-sm btn-secondary"
        type="submit"
      >Reset</a>
    </form>
  </div>
</div>
<div class="row">
  <div class="col mb-1">
    {{#if queryCount}}
      <strong>{{queryCount}}</strong>
    {{/if}}
  </div>
</div>

<!-- Table -->
<div class="row">
  <div class="col-12">
    <table
      class="table table-responsive table-bordered table-striped table-hover sortable"
    >
      <thead>
        <tr>
          <th>Dropdown Title</th>
          <th>Dropdown Value</th>
          <th>isDisabled</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {{#each data}}
          <tr>
            <td>{{this.dropdownTitle}}</td>
            <td>{{this.dropdownValue}}</td>
            <td>{{this.isDisabled}}</td>
            <td><a
                href="/dropdownManager/form/{{dropdownFormID}}/enable/{{this.dropdownID}}"
                class="btn btn-sm btn-success"
              >Enable</a>
              <a
                href="/dropdownManager/form/{{dropdownFormID}}/disable/{{this.dropdownID}}"
                class="btn btn-sm btn-secondary"
              >Disable</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <nav id="pagination">
      <ul class="pagination pagination-sm">
        {{#if paginate.hasPreviousPages}}
          <li class="page-item">
            <a class="page-link" href="{{prev}}">Prev</a>
          </li>
        {{/if}}
        {{#each pages}}
          <li class="page-item">
            <a class="page-link {{#contains this.url ../currentPage}}active pagination-color {{/contains}}" href="{{this.url}}">{{this.number}}</a>
          </li>
        {{/each}}
        {{#if hasMorePages}}
          <li class="page-item">
            <a class="page-link" href="{{paginate.href}}">Next</a>
          </li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>
{{#includes auth "Admin"}}
  <!-- Add new dropdown value -->
  <div class="row">
    <div class="col">
      <form method="POST">
        <div class="row">
          <h4>Dropdown Info</h4>
          <hr />
          <div class="col-sm-6">
            <label for="Dropdown Title" class="form-label title-text">Dropdown
              Title*</label>
            <input
              name="dropdownTitle"
              class="form-control"
              placeholder="Title of dropdown menu..."
              type="text"
              pattern="[^><\][\\\x22;|]+"
              title="No special characters!"
              value="{{lastEnteredDropdownTitle}}"
              required
            />
          </div>
          <div class="col-sm-6">
            <label for="Dropdown Value" class="form-label title-text">Dropdown
              Value*</label>
            <input
              name="dropdownValue"
              class="form-control"
              placeholder="Value/option in dropdown menu..."
              type="text"
              pattern="[^()><\][\\\x22,;|]+"
              title="No special characters!"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              id="submitButton"
              class="btn btn-primary mt-2 mb-2"
              type="submit"
            >Submit</button>
          </div>
        </div>
      </form>
    </div>
    <p class="fst-italic fw-light">*Add to an existing dropdown by specifying
      the same "dropdown title".</p>
    <p class="fst-italic fw-light">*Keep in mind that if adding a new filtering
      option, the "dropdown value" must be an existing field in the parent
      table. (Not a relational table)</p>
  </div>
{{/includes}}