<h2 class="text-center mt-2 mb-2">Dropdown Manager</h2>
<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}
<!-- Table -->
<div class="row">
  <div class="col-12">
    <table
      class="table table-responsive table-bordered table-striped table-hover sortable mt-2"
    >
      <thead>
        <tr>
          <th>Form/Dropdown Name</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {{#each data}}
          <tr>
            <td><a
                href="/dropdownManager/form/{{this.dropdownFormID}}"
                id="ownerLink"
                title="View Dropdown Values For This Form"
              >{{this.formName}}</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item">
        <a class="page-link" href="{{prev}}">Prev</a>
      </li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}">{{this.number}}</a>
      </li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item">
        <a class="page-link" href="{{paginate.href}}">Next</a>
      </li>
    {{/if}}
  </ul>
</nav>
{{! <!-- Add new dropdown form -->
<div class="row newDropdownForm">
  <div class="col-sm-4">
    <form method="POST">
      <label for="Dropdown Form" class="form-label title-text">Add Dropdown
        Form*</label>
      <input
        name="formName"
        class="form-control"
        placeholder="New Form/Dropdown Name..."
        type="text"
        pattern="[^()/><\][\\\x22;|]+"
        title="No special characters!"
        required
      />
      <div class="row pt-1">
        <div class="col">
          <button
            id="submitButton"
            class="btn btn-primary"
            type="submit"
          >Submit</button>
        </div>
      </div>
    </form>
  </div>
</div> }}