<h2 class="text-center mt-1">Add Additional Owner</h2>
<form class="row g-5 m-auto" id="form" method="POST">
  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}
  <div class="col-md-7 m-auto mt-5">
    <h4>Owner Information</h4>
    <hr />
    <div class="row">
      <!-- First Name -->
      <div class="col-sm-4">
        <label for="First Name" class="form-label">First Name</label>
        <input
          id="firstName"
          type="text"
          placeholder="First Name"
          class="form-control"
          name="firstName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{{formData.firstName}}}"
          maxlength="25"
        />
      </div>
      <!-- Last Name -->
      <div class="col-sm-4">
        <label for="Last Name" class="form-label">Last Name</label>
        <input
          id="lastName"
          type="text"
          placeholder="Last Name"
          class="form-control"
          name="lastName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.lastName}}"
          maxlength="25"
        />
      </div>
      <!-- Town -->
      <div class="col-sm-4">
        <label for="Town" class="form-label">Town</label>
        <input
          id="town"
          type="text"
          class="form-control"
          placeholder="Town"
          name="town"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.town}}"
          maxlength="30"
        />
      </div>
    </div>
    <div class="row">
      <!-- Home Phone -->
      <div class="col-sm-4">
        <label for="Home Phone" class="form-label">Home Phone</label>
        <input
          id="homePhone"
          type="text"
          class="form-control"
          placeholder="Home Phone"
          name="homePhone"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.homePhone}}"
        />
      </div>
      <!-- Cell Phone -->
      <div class="col-sm-4">
        <label for="Cell Phone" class="form-label">Cell Phone</label>
        <input
          id="cellPhone"
          type="text"
          class="form-control"
          placeholder="Cell Phone"
          name="cellPhone"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.cellPhone}}"
        />
      </div>
      <!-- Work Phone -->
      <div class="col-sm-4">
        <label for="Work Phone" class="form-label">Work Phone</label>
        <input
          id="workPhone"
          type="text"
          class="form-control"
          placeholder="Work Phone"
          name="workPhone"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.workPhone}}"
        />
      </div>
    </div>
    <!-- Email -->
    <div class="row">
      <div class="col-sm-12">
        <label for="Email" class="form-label">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.email}}"
          maxlength="50"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary mt-2"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </div>
</form>