<h2 class="text-center mt-1">Add Dog</h2>
<form class="row g-5 m-auto" method="POST">
  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}
  <div class="col-md-8 m-auto mt-5">
    <h4>Dog Information</h4>
    <hr />
    <!-- Tag Number -->
    <div class="row">
      <div class="col-sm-6">
        <label for="Tag Number" class="form-label">Tag Number*</label>
        <input
          type="number"
          class="form-control"
          placeholder="Tag Number"
          name="tagNumber"
          value="{{formData.tagNumber}}"
          required
        />
      </div>
      <!-- Dog Name -->
      <div class="col-sm-6">
        <label for="Dog Name" class="form-label">Dog Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Dog Name"
          name="dogName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.dogName}}"
          maxlength="20"
        />
      </div>
    </div>
    <!-- Breed -->
    <div class="row">
      <div class="col-sm-6">
        <label for="Breed" class="form-label">Breed</label>
        <input
          type="text"
          class="form-control"
          placeholder="Breed"
          name="breed"
          pattern="[^()><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.breed}}"
          maxlength="25"
        />
      </div>
      <!-- Colour -->
      <div class="col-sm-6">
        <label for="Colour" class="form-label">Colour</label>
        <input
          type="text"
          class="form-control"
          placeholder="Colour"
          name="colour"
          pattern="[^()><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.colour}}"
          maxlength="25"
        />
      </div>
    </div>
    <!-- Date of Birth -->
    <div class="row">
      <div class="col-sm-12">
        <label for="Date Of Birth" class="form-label">Date Of Birth*</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date Of Birth"
          name="dateOfBirth"
          value="{{formData.dateOfBirth}}"
          required
        />
      </div>
    </div>
    <!-- Gender -->
    <div class="row">
      <!-- Male -->
      <div class="col-sm-6">
        <div class="form-check">
          <label class="form-check-label" for="Male">
            Male
          </label>
          {{#ifCond formData.gender "===" "M"}}
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              value="M"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              value="M"
            />
          {{/ifCond}}
        </div>
      </div>
      <!-- Female -->
      <div class="col-sm-6">
        <div class="form-check">
          <label class="form-check-label" for="Female">
            Female
          </label>
          {{#ifCond formData.gender "===" "F"}}
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              value="F"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              value="F"
            />
          {{/ifCond}}
        </div>
      </div>
    </div>
    <!-- Spade/Neutered -->
    <div class="row">
      <label for="Spade/Neutered" class="form-label">Spade/Neutered</label>
      <!-- Spade -->
      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label" for="Spade">
            Spade
          </label>
          {{#ifCond formData.spade "===" "Spade"}}
            <input
              class="form-check-input"
              type="radio"
              name="spade"
              value="Spade"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="spade"
              value="Spade"
            />
          {{/ifCond}}
        </div>
      </div>
      <!-- Neutered -->
      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label" for="Neutered">
            Neutered
          </label>
          {{#ifCond formData.spade "===" "Neutered"}}
            <input
              class="form-check-input"
              type="radio"
              name="spade"
              value="Neutered"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="spade"
              value="Neutered"
            />
          {{/ifCond}}
        </div>
      </div>
      <!-- No -->
      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label" for="No">
            No
          </label>
          {{#ifCond formData.spade "===" "No"}}
            <input
              class="form-check-input"
              type="radio"
              name="spade"
              value="No"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="spade"
              value="No"
            />
          {{/ifCond}}
        </div>
      </div>
    </div>
    <!-- Designation -->
    <div class="row">
      <label for="Designation" class="form-label">Designation</label>
      <!-- Service -->
      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label" for="Service">
            Service
          </label>
          {{#ifCond formData.designation "===" "Service"}}
            <input
              class="form-check-input"
              type="radio"
              name="designation"
              value="Service"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="designation"
              value="Service"
            />
          {{/ifCond}}
        </div>
      </div>
      <!-- Dangerous -->
      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label" for="Dangerous">
            Dangerous
          </label>
          {{#ifCond formData.designation "===" "Dangerous"}}
            <input
              class="form-check-input"
              type="radio"
              name="designation"
              value="Dangerous"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="designation"
              value="Dangerous"
            />
          {{/ifCond}}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-check">
          <label class="form-check-label" for="None">
            None
          </label>
          {{#ifCond formData.designation "===" "None"}}
            <input
              class="form-check-input"
              type="radio"
              name="designation"
              value="None"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="designation"
              value="None"
            />
          {{/ifCond}}
        </div>
      </div>
    </div>
    <!-- Rabies Tag Number -->
    <div class="row">
      <div class="col-sm-6">
        <label for="Rabies Tag Number" class="form-label">Rabies Tag Number</label>
        <input
          type="number"
          class="form-control"
          name="rabiesTagNumber"
          placeholder="Rabies Tag Number"
          value="{{formData.rabiesTagNumber}}"
        />
      </div>
      <!-- Rabies Expiry -->
      <div class="col-sm-6">
        <label for="Rabies Expiry" class="form-label">Rabies Expiry*</label>
        <input
          type="date"
          class="form-control"
          name="rabiesExpiry"
          placeholder="Rabies Expiry"
          value="{{formData.rabiesExpiry}}"
          required
        />
      </div>
    </div>
    <!-- Vet Office -->
    <div class="row">
      <div class="col-sm-6">
        <label for="Vet Office" class="form-label">Vet Office</label>
        <input
          type="text"
          class="form-control"
          placeholder="Vet Office"
          name="vetOffice"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.vetOffice}}"
          maxlength="50"
        />
      </div>
      <!-- Vendor -->
      <div class="col-sm-6">
        <label for="Vendor" class="form-label">Vendor</label>
        <input
          type="text"
          class="form-control"
          placeholder="Vendor"
          name="vendor"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.vendor}}"
          maxlength="50"
        />
      </div>
    </div>
    <!-- Notes -->
    <div class="row">
      <div class="col">
        <label for="Notes" class="form-label">Notes</label>
        <textarea
          type="text"
          name="notes"
          class="form-control"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.notes}}"
          maxlength="255"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary mt-2"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </div>
</form>