<h2 class="text-center">Add Owner</h2>
<div class="content">
  <form class="row g-2" id="form" method="POST">
    <!-- check for error messages in the session -->
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
    <h4>Owner Information</h4>
    <hr />
    <div class="row">
      <!-- First Name -->
      <div class="col-sm-6">
        <label for="First Name" class="form-label">First Name</label>
        <input
          id="firstName"
          type="text"
          placeholder="First Name"
          class="form-control"
          name="firstName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{{formData.firstName}}}"
          maxlength="25"
        />
      </div>
      <!-- Last Name -->
      <div class="col-sm-6">
        <label for="Last Name" class="form-label">Last Name</label>
        <input
          id="lastName"
          type="text"
          placeholder="Last Name"
          class="form-control"
          name="lastName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.lastName}}"
          maxlength="25"
        />
      </div>
    </div>
    <div class="row">
      <!-- Street Number -->
      <div class="col-sm-4">
        <label for="Street Number" class="form-label">Street Number</label>
        <input
          type="number"
          class="form-control"
          placeholder="Street Number"
          name="streetNumber"
          value="{{formData.streetNumber}}"
        />
      </div>
      <!-- Street Name -->
      <div class="col-sm-4">
        <label for="Street Name" class="form-label">Street Name</label>
        <select
          class="form-select"
          id="streetName"
          title="streetName"
          name="streetName"
        >
          <option disabled selected>Street Name...</option>
          {{#each dropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
      <!-- PO Box/Apt/RR -->
      <div class="col-sm-4">
        <label for="PO Box/Apt/RR " class="form-label">PO Box/Apt/RR</label>
        <input
          id="poBoxAptRR"
          type="text"
          class="form-control"
          placeholder="PO Box/Apt/RR"
          name="poBoxAptRR"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.poBoxAptRR}}"
          maxlength="25"
        />
      </div>
    </div>
    <div class="row">
      <!-- Town -->
      <div class="col-sm-6">
        <label for="Town" class="form-label">Town</label>
        <input
          id="town"
          type="text"
          class="form-control"
          placeholder="Town"
          name="town"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.town}}"
          maxlength="30"
        />
      </div>
      <!-- Postal Code -->
      <div class="col-sm-6">
        <label for="Postal Code" class="form-label">Postal Code</label>
        <input
          id="postalCode"
          type="text"
          class="form-control"
          placeholder="Postal Code"
          name="postalCode"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.postalCode}}"
          maxlength="15"
        />
      </div>
    </div>
    <div class="row">
      <!-- Home Phone -->
      <div class="col-sm-4">
        <label for="Home Phone" class="form-label">Home Phone</label>
        <input
          id="homePhone"
          type="text"
          class="form-control"
          placeholder="Home Phone"
          name="homePhone"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.homePhone}}"
        />
      </div>
      <!-- Cell Phone -->
      <div class="col-sm-4">
        <label for="Cell Phone" class="form-label">Cell Phone</label>
        <input
          id="cellPhone"
          type="text"
          class="form-control"
          placeholder="Cell Phone"
          name="cellPhone"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.cellPhone}}"
        />
      </div>
      <!-- Work Phone -->
      <div class="col-sm-4">
        <label for="Work Phone" class="form-label">Work Phone</label>
        <input
          id="workPhone"
          type="text"
          class="form-control"
          placeholder="Work Phone"
          name="workPhone"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.workPhone}}"
        />
      </div>
    </div>
    <!-- Email -->
    <div class="row">
      <div class="col-sm-12">
        <label for="Email" class="form-label">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.email}}"
          maxlength="50"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </form>
</div>