<h2 class="text-center mt-1">Owners With Expired Tags</h2>
<h4>Filtering</h4>
<form method="GET">
  <select
    class="form-select-sm"
    id="filterCategory"
    title="filterSelect"
    name="filterCategory"
    required
  >
    <option value="" disabled selected>Filter By...</option>
    {{#each dropdownValues}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <!-- filterValue input -->
  <input
    name="filterValue"
    id="filterValue"
    class="form-control-sm"
    pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
    title="No special characters!"
    placeholder="Search..."
    value="{{filterValue}}"
  />
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/dogtags/expiredTags"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>
<div class="row">
  {{#if queryCount}}
    <div class="col">
      <strong>{{queryCount}}</strong>
    </div>
  {{/if}}
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table class="table table-bordered table-striped table-hover sortable">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>Home Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>POBox/Apt/RR</th>
      <th>Town</th>
      <th>Postal Code</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>
          <a
            id="ownerLink"
            href="/dogtags/owner/{{this.ownerID}}"
          >{{this.firstName}}
            {{this.lastName}}</a></td>
        <td class="text-nowrap">{{this.homePhone}}</td>
        <td>{{this.email}}</td>
        {{#each addresses}}
          <td>{{this.streetNumber}} {{this.streetName}}</td>
          <td>{{this.poBoxAptRR}}</td>
          <td>{{this.town}}</td>
          <td>{{this.postalCode}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item">
        <a class="page-link" href="{{prev}}">Prev</a>
      </li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}">{{this.number}}</a>
      </li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item">
        <a class="page-link" href="{{paginate.href}}">Next</a>
      </li>
    {{/if}}
  </ul>
</nav>