<h2 class="text-center">Owner Profile</h2>
<div class="content">
  <div class="row">
    <div class="col-sm-4">
      <strong>Owner: {{ownerName}}</strong>
      {{#if queryCount}}
        <div>
          <strong>{{queryCount}}</strong>
        </div>
      {{/if}}
    </div>
    <div id="registerDogButton" class="col-sm-4">
      <a
        href="/dogtags/addDog/{{ownerID}}"
        class="btn btn-sm btn-primary float-end"
      >Register Dog to Owner</a>
    </div>
  </div>

  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}

  <section class="row">
    <div class="col-12">
      <table
        class="sortable table table-sm table-bordered table-striped table-hover"
      >
        <thead>
          <tr>
            <th>Tag Number</th>
            <th>Dog Name</th>
            <th>Dog Breed</th>
            <th>Colour</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Designation</th>
            <th>Spade/Neutered</th>
            <th>Rabies Tag Number</th>
            <th>Rabies Expiry</th>
            <th>Vet Office</th>
            <th>Tag Required</th>
            <th>License Issue Date</th>
            <th>License Expiry Date</th>
            <th>Vendor</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <td>{{this.tagNumber}}</td>
              <td>{{this.dogName}}</td>
              <td>{{this.breed}}</td>
              <td>{{this.colour}}</td>
              <td>{{this.gender}}</td>
              <td>{{this.dateOfBirth}}</td>
              <td>{{this.designation}}</td>
              <td>{{this.spade}}</td>
              <td>{{this.rabiesTagNumber}}</td>
              <td>{{this.rabiesExpiry}}</td>
              <td>{{this.vetOffice}}</td>
              <td>{{this.tagRequired}}</td>
              <td>{{this.issueDate}}</td>
              <td>{{this.expiryDate}}</td>
              <td>{{this.vendor}}</td>
              <td>{{this.notes}}</td>
              <td class="text-nowrap">
                <a
                  href="/dogtags/editDog/{{this.dogID}}"
                  class="btn btn-sm btn-secondary"
                >Edit Dog</a>
                |
                <a
                  href="/dogtags/renew/{{this.dogID}}"
                  class="btn btn-sm btn-secondary"
                  onclick="return confirm(`Are you sure you wish to renew this license?`)"
                >Renew</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
  <div class="row">
    <div class="col">
      <a id="dogHistory" onclick="toggleDogHistory()">See dog(s) history...</a>
    </div>
    <div class="col">
      <a
        class="float-end"
        id="addressHistory"
        onclick="toggleAddressHistory()"
      >See address history...</a>
    </div>
  </div>

  <section id="addressHistorySection" class="row" style="display: none;">
    <div class="col-12">
      <h4>Address History</h4>
      {{#group addressHistory by="year"}}
        <strong>{{{value}}}</strong>
        <table class="sortable table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Address</th>
              <th>PO Box/Apt/RR</th>
              <th>Town</th>
              <th>Postal Code</th>
              <th>Action</th>
              <th>Last Modified</th>
            </tr>
          </thead>
          <tbody>
            {{#each items}}
              <tr>
                <td>{{this.address}}</td>
                <td>{{this.poBoxAptRR}}</td>
                <td>{{this.town}}</td>
                <td>{{this.postalCode}}</td>
                <td>{{this.action}}</td>
                <td>{{this.lastModified}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/group}}
    </div>
  </section>

  <section id="dogHistorySection" class="row" style="display: none;">
    <div class="col-12">
      <h4>Dog History</h4>
      {{#group dogHistory by="year"}}
        <strong>{{{value}}}</strong>
        <table class="sortable table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Tag Number</th>
              <th>Dog Name</th>
              <th>Dog Breed</th>
              <th>Colour</th>
              <th>Gender</th>
              <th>Date Of Birth</th>
              <th>Designation</th>
              <th>Spade/Neutered</th>
              <th>Rabies Tag Number</th>
              <th>Rabies Expiry</th>
              <th>Vet Office</th>
              <th>Tag Required</th>
              <th>License Issue Date</th>
              <th>License Expiry Date</th>
              <th>Vendor</th>
              <th>Notes</th>
              <th>Last Modified</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each items}}
              <tr>
                <td>{{this.tagNumber}}</td>
                <td>{{this.dogName}}</td>
                <td>{{this.breed}}</td>
                <td>{{this.colour}}</td>
                <td>{{this.gender}}</td>
                <td>{{this.dateOfBirth}}</td>
                <td>{{this.designation}}</td>
                <td>{{this.spade}}</td>
                <td>{{this.rabiesTagNumber}}</td>
                <td>{{this.rabiesExpiry}}</td>
                <td>{{this.vetOffice}}</td>
                <td>{{this.tagRequired}}</td>
                <td>{{this.issueDate}}</td>
                <td>{{this.expiryDate}}</td>
                <td>{{this.vendor}}</td>
                <td>{{this.notes}}</td>
                <td>{{this.lastModified}}</td>
                <td>{{this.action}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/group}}
    </div>
  </section>
</div>