<h2 class="text-center mt-2">{{ownerName}} - Owner Profile</h2>
<div class="row">
  <div class="col-sm-4">
    {{#if additionalOwners}}
      <strong>Additional owners:
        {{#each additionalOwners}}
          <a
            id="additionalOwnerLinks"
            href="/dogtags/owner/{{this.ownerID}}/additionalOwner/{{this.additionalOwnerID}}"
            title="View/Edit Additional Owner Info"
          >
            {{this.firstName}}
            {{this.lastName}}{{#unless @last}}, {{/unless}}
          </a>
        {{/each}}
      </strong>
    {{/if}}
    {{#if queryCount}}
      <div class="mb-1">
        <strong>{{queryCount}}</strong>
      </div>
    {{/if}}
  </div>
</div>
<div class="row mb-2">
  <div class="col-sm-4">
    <a
      href="/dogtags/addAdditionalOwner"
      class="btn btn-sm btn-primary"
    >Register Additional Owner</a>
  </div>
  <div id="registerDogButton" class="col-sm-4">
    <a
      href="/dogtags/addDog/{{ownerID}}"
      class="btn btn-sm btn-primary float-end"
    >Register Dog to Owner</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<table class="table table-sm table-responsive table-bordered table-striped table-hover sortable">
  <thead>
    <tr>
      <th>Tag Number</th>
      <th>Dog Name</th>
      <th>Dog Breed</th>
      <th>Colour</th>
      <th>Gender</th>
      <th>Date Of Birth</th>
      <th>Designation</th>
      <th>Spade</th>
      <th>Rabies Tag Number</th>
      <th>Rabies Expiry</th>
      <th>Vet Office</th>
      <th>Tag Required</th>
      <th>License Issue Date</th>
      <th>License Expiry Date</th>
      <th>Vendor</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td class="tableLink">
          <a
            class="stretched-link"
            id="ownerLink"
            href="/dogtags/owner/{{ownerID}}/tagHistory/{{this.dogID}}"
            title="View Tag Number History"
          >{{this.tagNumber}}</a></td>
        <td>{{this.dogName}}</td>
        <td>{{this.breed}}</td>
        <td>{{this.colour}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.dateOfBirth}}</td>
        <td>{{this.designation}}</td>
        <td>{{this.spade}}</td>
        <td>{{this.rabiesTagNumber}}</td>
        <td>{{this.rabiesExpiry}}</td>
        <td>{{this.vetOffice}}</td>
        <td>{{this.tagRequired}}</td>
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{this.vendor}}</td>
        <td>{{this.notes}}</td>
        <td style="width: 11.5%;">
          <a
            class="btn btn-sm btn-secondary my-1"
            data-bs-toggle="modal"
            data-bs-target="#tagNumberModal-{{this.dogID}}"
          >Renew</a>
          |
          <a
            href="/dogtags/editDog/{{this.dogID}}"
            class="btn btn-sm btn-secondary"
          >Edit Dog</a>
          <a href="/dogtags/printDog/{{this.dogID}}" title="Print License"><i class="icon-blue bi bi-printer-fill ms-1"></i></a></td>
      </tr>
      <!-- Modal -->
      <div
        class="modal fade"
        id="tagNumberModal-{{this.dogID}}"
        tabindex="-1"
        aria-labelledby="renewDogLicenseModal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Renew Dog License</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <label for="Dog ID" class="form-label">Dog ID</label>
                <input
                  type="number"
                  class="form-control"
                  name="dogID"
                  value="{{this.dogID}}"
                  readonly
                />
                <label for="Tag Number" class="form-label">Enter the new tag
                  number</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Tag Number"
                  name="tagNumber"
                  required
                />
                <p class="mt-4 mb-0 fst-italic">This license will expire on <strong>{{formatDate ../modalExpiryDate}}</strong> after renewal</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Submit Renewal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
    {{/if}}
    {{#each pages}}
      <li class="page-item"><a
          class="page-link"
          href="{{this.url}}"
        >{{this.number}}</a></li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item"><a
          class="page-link"
          href="{{paginate.href}}"
        >Next</a></li>
    {{/if}}
  </ul>
</nav>

<div class="row">
  <div class="col-12">
    <a class="user-select-none" id="dogHistory" title="Toggle History" onclick="toggleDogHistory()">See dog(s) history...</a>
  </div>
  <div class="col-12">
    <a class="user-select-none" id="addressHistory" title="Toggle History" onclick="toggleAddressHistory()">See address
      history...</a>
  </div>
</div>

<section id="addressHistorySection" class="row" style="display: none;">
  <div class="col-12">
    <h4 class="mt-1">Address History</h4>
    {{#group addressHistory by="year"}}
      <strong>{{{value}}}</strong>
      <table
        class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
      >
        <thead>
          <tr>
            <th>Address</th>
            <th>PO Box/Apt/RR</th>
            <th>Action</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {{#each items}}
            <tr>
              <td>{{this.streetNumber}}
                {{this.streetName}},
                {{this.town}}
                {{this.postalCode}}</td>
              <td>{{this.poBoxAptRR}}</td>
              <td>{{this.action}}</td>
              <td>{{formatDate this.lastModified}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/group}}
  </div>
</section>

<section id="dogHistorySection" class="row" style="display: none;">
  <div class="col-12">
    <h4 class="mt-1">Dog History</h4>
    {{#group dogHistory by="year"}}
      <strong>{{{value}}}</strong>
      <table
        class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
      >
        <thead>
          <tr>
            <th>Tag Number</th>
            <th>Dog Name</th>
            <th>Dog Breed</th>
            <th>Colour</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Designation</th>
            <th>Spade/Neutered</th>
            <th>Rabies Tag Number</th>
            <th>Rabies Expiry</th>
            <th>Vet Office</th>
            <th>Tag Required</th>
            <th>License Issue Date</th>
            <th>License Expiry Date</th>
            <th>Vendor</th>
            <th>Notes</th>
            <th>Last Modified</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {{#each items}}
            <tr>
              <td>{{this.tagNumber}}</td>
              <td>{{this.dogName}}</td>
              <td>{{this.breed}}</td>
              <td>{{this.colour}}</td>
              <td>{{this.gender}}</td>
              <td>{{this.dateOfBirth}}</td>
              <td>{{this.designation}}</td>
              <td>{{this.spade}}</td>
              <td>{{this.rabiesTagNumber}}</td>
              <td>{{this.rabiesExpiry}}</td>
              <td>{{this.vetOffice}}</td>
              <td>{{this.tagRequired}}</td>
              <td>{{this.issueDate}}</td>
              <td>{{this.expiryDate}}</td>
              <td>{{this.vendor}}</td>
              <td>{{this.notes}}</td>
              <td>{{formatDate this.lastModified}}</td>
              <td>{{this.action}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/group}}
  </div>
</section>