<div class="content">
  <h2 id="title">Owner Profile</h2>
  <div class="row">
    <div class="col">
      <a
        href="/dogtags/addDog/{{ownerID}}"
        class="btn btn-sm btn-primary"
      >Register Dog to Owner</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <strong>Owner: {{ownerName}}</strong>
    </div>
  </div>

  <section class="row">
    <div class="col-12">
      <table
        class="sortable table table-sm table-bordered table-striped table-hover"
      >
        <thead>
          <tr>
            <th>License</th>
            <th>Tag Number</th>
            <th>Dog Name</th>
            <th>Dog Breed</th>
            <th>Colour</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Designation</th>
            <th>Spade/Neutered</th>
            <th>Rabies Tag Number</th>
            <th>Rabies Expiry</th>
            <th>Vet Office</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <td><a
                  href="/dogtags/renew/{{this.dogID}}"
                  class="btn btn-sm btn-secondary"
                >Renew</a></td>
              <td>{{this.tagNumber}}</td>
              <td>{{this.dogName}}</td>
              <td>{{this.breed}}</td>
              <td>{{this.colour}}</td>
              <td>{{this.gender}}</td>
              <td>{{this.dateOfBirth}}</td>
              <td>{{this.designation}}</td>
              <td>{{this.spade}}</td>
              <td>{{this.rabiesTagNumber}}</td>
              <td>{{this.rabiesExpiry}}</td>
              <td>{{this.vetOffice}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>