<h2 class="text-center mt-1">{{dogName}} - Tag History</h2>
<section id="tagNumberHistorySection" class="row">
  <div class="col-12">
    {{#group tagNumberHistory by="year"}}
      <strong>{{{value}}}</strong>
      <table
        class="table table-responsive table-bordered table-striped table-hover sortable"
      >
        <thead>
          <tr>
            <th>Tag Number</th>
            <th>Last Modified</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
            <tr>
              <td>{{this.tagNumber}}</td>
              <td>{{this.lastModified}}</td>
              <td>{{this.action}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/group}}
  </div>
</section>