<h2 class="text-center mt-2">Adopter Profile</h2>

<div class="row mb-1">
  <div class="col">
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Dog Name</th>
      <th>Date Of Adoption</th>
      <th>Dog Breed</th>
      <th>Colour</th>
      <th>Gender</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td class="tableLink">{{this.dogName}}</td>
        <td>{{this.dateOfAdoption}}</td>
        <td>{{this.breed}}</td>
        <td>{{this.colour}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.notes}}</td>
        <td style="width: 11.5%;">
          <form method="POST">
            <input
              style="display: none;"
              type="number"
              class="form-control"
              name="adoptedDogID"
              value="{{this.adoptedDogID}}"
              readonly
            />
            <button type="submit" class="btn btn-sm btn-danger">Remove Dog</button>
          </form></td>
      </tr>
    {{/each}}
  </tbody>
</table>