<h2 class="text-center mt-2">Dog Adoptions</h2>
<h4>Filtering</h4>
<div class="row">
  <div class="col">
    <form class="mb-0" method="GET">
      <select
        class="form-select-sm"
        id="filterCategory"
        title="Category To Filter By"
        name="filterCategory"
        required
      >
        {{#if filterCategory}}
          <option
            value="{{filterCategory}}"
            selected
          >{{filterCategory}}</option>
        {{else}}
          <option value="" disabled selected>Filter By...</option>
        {{/if}}
        {{#each filterOptions}}
          {{#if this.isDisabled}}
            <option
              value="{{this.dropdownValue}}"
              disabled
            >{{this.dropdownValue}}</option>
          {{else}}
            <option
              value="{{this.dropdownValue}}"
            >{{this.dropdownValue}}</option>
          {{/if}}
        {{/each}}
      </select>
      <!-- filterValue input -->
      <input
        name="filterValue"
        id="filterValue"
        class="form-control-sm"
        pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
        title="No special characters!"
        placeholder="Search..."
        value="{{filterValue}}"
      />
      <button
        id="filterButton"
        class="btn btn-sm btn-primary"
        type="submit"
      >Search</button>
      <a
        id="filterButton"
        href="/dogAdoptions/dogs"
        class="btn btn-sm btn-secondary"
        type="submit"
      >Reset</a>
    </form>
  </div>
</div>
<div class="row mb-1">
  <div class="col">
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
  </div>
    <div class="col-md-auto">
      <a href="/dogAdoptions/addDog" class="btn btn-sm btn-primary float-end">Add
      Dog</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table
  class="table table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Dog Name</th>
      <th>Date Of Adoption</th>
      <th>Dog Breed</th>
      <th>Colour</th>
      <th>Gender</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td class="tableLink">{{this.dogName}}</td>
        <td>{{this.dateOfAdoption}}</td>
        <td>{{this.breed}}</td>
        <td>{{this.colour}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.notes}}</td>
        {{#if this.adopterAdopterID}}
          <td style="width: 16%;">
            <a
              href="/dogAdoptions/editDog/{{this.adoptedDogID}}"
              class="btn btn-sm btn-secondary"
            >Edit</a>
            <button
              class="btn btn-sm btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#adopterModal-{{this.adopterAdopterID}}"
            >View Adopter</button>
          </td>
        {{else}}
          <td style="width: 16%;">
            <a
              href="/dogAdoptions/editDog/{{this.adoptedDogID}}"
              class="btn btn-sm btn-secondary"
            >Edit</a>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item">
        <a class="page-link" href="{{prev}}">Prev</a>
      </li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
       <a class="page-link {{#contains this.url ../currentPage}}active pagination-color {{/contains}}" href="{{this.url}}">{{this.number}}</a>
      </li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item">
        <a class="page-link" href="{{paginate.href}}">Next</a>
      </li>
    {{/if}}
  </ul>
</nav>

{{#each data}}
  <!-- Modal -->
  <div
    class="modal fade"
    id="adopterModal-{{this.adopterAdopterID}}"
    tabindex="-1"
    aria-labelledby="adoptedDogModal"
    aria-hidden="true"
  >
    <form method="POST">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Adopter Info</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <strong>Full Name:</strong>
              </div>
              <div class="col float-end">
                <p>{{this.adopter.firstName}} {{this.adopter.lastName}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong>Phone Number:</strong>
              </div>
              <div class="col float-end">
                <p>{{this.adopter.phoneNumber}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <strong>Email:</strong>
              </div>
              <div class="col float-end">
                <p>{{this.adopter.email}}</p>
              </div>
            </div>
            {{#each this.adopter.addresses}}
              <div class="row">
                <div class="col">
                  <strong>Address:</strong>
                </div>
                <div class="col float-end">
                  <p>{{this.streetNumber}}
                    {{this.streetName}},
                    {{this.town}}
                    {{this.postalCode}}</p>
                </div>
              </div>
            {{/each}}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{{/each}}