<h2 class="text-center">Admin Panel</h2>
<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}
<div class="row">
  <div class="col">
    <h4>User List</h4>
    <a class="btn btn-sm btn-primary mb-1" href="/admin/addUser">Add User</a>
    <!-- Table -->
    <table
      class="table table-sm table-bordered table-striped table-hover sortable"
    >
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Email</th>
          <th>Authorization Level(s)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{this.firstName}} {{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{#each roles}}{{this.roleName}}{{#unless @last}},
                {{/unless}}{{/each}}</td>
            <td><a
                class="btn btn-sm btn-secondary"
                data-bs-toggle="modal"
                data-bs-target="#manageAccessModal-{{this.userID}}"
              >Manage Access</a></td>
          </tr>
          <!-- Modal -->
          <div
            class="modal fade"
            id="manageAccessModal-{{this.userID}}"
            tabindex="-1"
            aria-labelledby="manageAccessModal"
            aria-hidden="true"
          >
            <form method="POST">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Manage Authorization</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col">
                        <label for="Email" class="form-label">Email</label>
                        <input
                          class="form-control"
                          placeholder="Email"
                          value="{{this.email}}"
                          name="email"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label
                          for="Current Authorization"
                          class="form-label"
                        >Current Authorization</label>
                        <input
                          class="form-control"
                          placeholder="Current Authorization"
                          value="test"
                          name="currentAuthorization"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label
                          for="Authorization Level"
                          class="form-label"
                        >Authorization Level</label>
                        <select class="form-select" name="authLevel">
                          <option disabled selected>Auth Level...</option>
                          <option value="Admin">Admin</option>
                          <option value="Dog Licenses">Dog Licenses</option>
                          <option value="Policies">Policies</option>
                          <option value="None">None</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >Close</button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                    >Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        {{/each}}
      </tbody>
    </table>
    <nav id="pagination">
      <ul class="pagination pagination-sm">
        {{#if paginate.hasPreviousPages}}
          <li class="page-item"><a
              class="page-link"
              href="{{prev}}"
            >Prev</a></li>
        {{/if}}
        {{#each pages}}
          <li class="page-item">
            <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
        {{/each}}
        {{#if hasMorePages}}
          <li class="page-item"><a
              class="page-link"
              href="{{paginate.href}}"
            >Next</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>