<h2 class="text-center">Admin Panel</h2>
<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}
<div class="row">
  <div class="col">
    <h4>User List</h4>
    <a class="btn btn-sm btn-primary mb-1" href="/admin/addUser">Add User</a>
    <!-- Table -->
    <table
      class="table table-sm table-bordered table-striped table-hover sortable"
    >
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td><a id="ownerLink" href="/admin/editUser/{{this.id}}">
                {{this.firstName}}
                {{this.lastName}}</a></td>
            <td>{{this.email}}</td>
            <td>
              <a
                class="btn btn-sm btn-secondary"
                href="/admin/manageAccess/{{this.id}}"
              >Manage Access</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <nav id="pagination">
      <ul class="pagination pagination-sm">
        {{#if paginate.hasPreviousPages}}
          <li class="page-item"><a
              class="page-link"
              href="{{prev}}"
            >Prev</a></li>
        {{/if}}
        {{#each pages}}
          <li class="page-item">
            <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
        {{/each}}
        {{#if hasMorePages}}
          <li class="page-item"><a
              class="page-link"
              href="{{paginate.href}}"
            >Next</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>