<h2 class="text-center">Manage Access</h2>
<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}
<div class="row">
  <div class="col">
    <h4>{{userName}}</h4>
    <!-- Table -->
    <table
      class="table table-sm table-bordered table-striped table-hover sortable"
    >
      <thead>
        <tr>
          <th>Role(s)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          {{#each roles}}
            <tr>
              <td>{{this.roleName}}</td>
              <td><a
                  class="btn btn-sm btn-secondary"
                  href="/admin/manageAccess/{{../../userId}}/{{this.id}}"
                >Revoke</a></td>
            </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<form method="POST">
  <div class="row">
    <div class="col">
      <label for="Select A Role" class="form-label title-text">Select A Role</label>
      <select class="form-select" name="roleId" required>
        <option value="" selected disabled>Select a role...</option>
        <option value="1">Admin</option>
        <option value="2">Dog Licenses</option>
        <option value="3">Policies</option>
      </select>
    </div>
  </div>
  <div class="row pt-1">
    <div class="col">
      <button
        id="submitButton"
        class="btn btn-primary mt-1"
        type="submit"
      >Submit</button>
    </div>
  </div>
</form>