<h2 class="text-center mt-2">Refreshment Vehicle Licensing</h2>
<h4>Filtering</h4>
<form class="mb-0" method="GET">
  <select
    class="form-select-sm"
    id="filterCategory"
    title="Category To Filter By"
    name="filterCategory"
    required
  >
    {{#if filterCategory}}
      <option value="{{filterCategory}}" selected>{{filterCategory}}</option>
    {{else}}
      <option value="" disabled selected>Filter By...</option>
    {{/if}}
    {{#each filterOptions}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <!-- filterValue input -->
  <input
    name="filterValue"
    id="filterValue"
    class="form-control-sm"
    pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
    title="No special characters!"
    placeholder="Search..."
    value="{{filterValue}}"
  />
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/refreshmentVehicles"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>
<div class="row">
  <div class="col mb-1">
    <h4 class="mb-0 mt-1">Vehicles</h4>
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
    <a
      href="/refreshmentVehicles/addVehicle"
      class="btn btn-sm btn-primary float-end"
    >Add A Vehicle</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Registered Business Name</th>
      <th>Operating Business Name</th>
      <th>Items For Sale</th>
      <th>License Number</th>
      <th>Issue Date</th>
      <th>Expiry Date</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td class="tableLink">
          <a
            class="stretched-link"
            id="ownerLink"
            href="/refreshmentVehicles/vehicle/{{this.refreshmentVehicleID}}"
            title="View Vehicle Related Information"
          >{{this.registeredBusinessName}}</a></td>
        <td>{{this.operatingBusinessName}}</td>
        <td>{{this.itemsForSale}}</td>
        <td class="tableLink">
          <a
            class="stretched-link"
            id="ownerLink"
            href="/refreshmentVehicles/vehicleHistory/{{this.refreshmentVehicleID}}"
            title="View Vehicle History"
          >{{this.licenseNumber}}</a></td>
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{this.notes}}</td>
        <td style="width: 17.5%;"><a
            class="btn btn-sm btn-secondary my-1"
            data-bs-toggle="modal"
            data-bs-target="#refreshmentVehicleRenewModal-{{this.refreshmentVehicleID}}"
          >Renew</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            href="/refreshmentVehicles/editVehicle/{{this.refreshmentVehicleID}}"
          >Edit</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#refreshmentDocumentationModal-{{this.refreshmentVehicleID}}"
          >Documentation</a>
          <!-- Print to Filehold -->
          <a
            href="/refreshmentVehicles/printLicense/{{this.refreshmentVehicleID}}"
            title="Print License"
          ><i class="icon-blue bi bi-printer-fill ms-1"></i></a></td>
      </tr>
      <!-- Renew Modal -->
      <div
        class="modal fade"
        id="refreshmentVehicleRenewModal-{{this.refreshmentVehicleID}}"
        tabindex="-1"
        aria-labelledby="Refreshment Vehicle Renewal Modal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Renew Vehicle</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- Need to get ID from form to update, but don't need user to see it - set display: none; -->
                <div class="row" style="display: none;">
                  <div class="col">
                    <label
                      for="Refreshment Vehicle ID"
                      class="form-label"
                    >Refreshment Vehicle ID</label>
                    <input
                      class="form-control"
                      placeholder="Refreshment Vehicle ID"
                      value="{{this.refreshmentVehicleID}}"
                      name="refreshmentVehicleID"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label
                      for="Registered Business Name"
                      class="form-label"
                    >Registered Business Name</label>
                    <input
                      class="form-control"
                      placeholder="Registered Name"
                      value="{{this.registeredBusinessName}}"
                      name="registeredBusinessName"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="License Number" class="form-label">License
                      Number</label>
                    <input
                      class="form-control"
                      placeholder="New License Number"
                      name="licenseNumber"
                    />
                  </div>
                </div>
                <p class="mt-4 mb-0 fst-italic">This license will expire on
                  <strong>{{formatDate ../modalExpiryDate}}</strong>
                  after renewal</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Submit Renewal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Documentation Modal -->
      <div
        class="modal fade"
        id="refreshmentDocumentationModal-{{this.refreshmentVehicleID}}"
        tabindex="-1"
        aria-labelledby="Refreshment Vehicle Modal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Documentation</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <strong>Special Event:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.specialEvent}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Police VSC:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.policeVSC}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Photo ID:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.photoID}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Drivers Abstract:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.driversAbstract}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Safety Certificate:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.safetyCertificate}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Vehicle Ownership:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.vehicleOwnership}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Citizenship:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.citizenship}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Insurance:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.insurance}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Fire Approval:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.fireApproval}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Zoning Clearance:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.zoningClearance}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Health Inspection:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.healthInspection}}</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item"><a
          class="page-link"
          href="{{paginate.href}}"
        >Next</a></li>
    {{/if}}
  </ul>
</nav>