<h2 class="text-center mt-2">Vehicle Operator Address History</h2>
<h4>Filtering</h4>
<form class="mb-1" method="GET">
  <select
    class="form-select-sm"
    id="filterMonth"
    title="Month Filter"
    name="filterMonth"
  >
    {{#if filterMonth}}
      <option value="{{filterMonth}}" selected>{{filterMonth}}</option>
    {{else}}
      <option value="" disabled selected>Month...</option>
    {{/if}}
    {{#each monthDropdownValues}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <select
    class="form-select-sm"
    id="filterYear"
    title="Year Filter"
    name="filterYear"
  >
    {{#if filterYear}}
      <option value="{{filterYear}}" selected>{{filterYear}}</option>
    {{else}}
      <option value="" disabled selected>Year...</option>
    {{/if}}
    {{#each yearDropdownValues}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/refreshmentVehicles/vehicleOperatorAddressHistory/{{refreshmentVehicleOperatorID}}"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Address</th>
      <th>Last Modified</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td>{{this.streetNumber}}
          {{this.streetName}},
          {{this.town}}
          {{this.postalCode}}</td>
        <td>{{formatDate this.lastModified}}</td>
        <td>{{this.action}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>