<div class="container d-flex align-items-center flex-column">
  <h2>Dog Tag Licenses</h2>
</div>

<div class="filterDiv">
  <h4>Filtering</h4>
  <form method="POST">
    <select id="filterCategory" name="filterCategory" required>
      <option value="" disabled selected>Filter By...</option>
      <option value="dogID">Dog ID/Tag Number</option>
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>
      <option value="name">Dog Name</option>
      <option value="homePhone">Home Phone</option>
      <option value="email">Email</option>
    </select>
    <!-- filterValue input -->
    <input name="filterValue" class="form-control-sm" placeholder="Search..." />

    <!-- optional date filter -->
    <select id="yearDropdown" name="issueYear">
      <option value="" disabled selected>Issue Year...</option>
      <option value="2015">2015</option>
      <option value="2016">2016</option>
      <option value="2017">2017</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
      <option value="2021">2021</option>
      <option value="2022">2022</option>
    </select>
    <select id="monthDropdown" name="issueMonth">
      <option value="" disabled selected>Issue Month...</option>
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}
</div>

<!-- Table -->
<section class="row">
  <div class="col-12">
    <table
      class="sortable table table-sm table-bordered table-striped table-hover"
    >
      <thead>
        <tr>
          <th>Owner ID</th>
          <th>Owner First Name</th>
          <th>Owner Last Name</th>
          <th>Address</th>
          <th>Town</th>
          <th>Home Phone</th>
          <th>Email</th>
          <th>Dog Name</th>
          <th>Dog Breed</th>
          <th>Gender</th>
          <th>Rabies Tag #</th>
          <th>License Issue Date</th>
        </tr>
        <tbody>
          {{#each data}}
            <tr>
              <td>{{this.ownerID}}</td>
              <td>{{this.firstName}}</td>
              <td>{{this.lastName}}</td>
              <td>{{this.address}}</td>
              <td>{{this.town}}</td>
              <td class="text-nowrap">{{this.homePhone}}</td>
              <td>{{this.email}}</td>
              <td>{{this.name}}</td>
              <td>{{this.breed}}</td>
              <td>{{this.gender}}</td>
              <td>{{this.rabiesTagNumber}}</td>
              <td>{{this.issueDate}}</td>
            </tr>
          {{/each}}
        </tbody>
      </thead>
    </table>
    <a onclick="togglePagination()" href="#pagination" id="pagJump">Jump to
      page...</a>
    <nav id="pagination" style="display: none;">
      <ul class="pagination pagination-sm">
        {{#each pages}}
          <li class="page-item"><a
              class="page-link"
              href="?skip={{inc @index}}&page={{@index}}"
            >{{@index}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </div>
</section>