<div class="container d-flex align-items-center flex-column">
   <h2>Forms</h2>
</div>

<div class="container">
   <ul>
      <a class="panel panel-heading infoPanel" href="#">
         <p>
            <i class="icon-blue bi bi-card-list"></i> Example Form 1
         </p>
      </a>
      <a class="panel panel-heading infoPanel" href="#">
         <p>
            <i class="icon-blue bi bi-card-list"></i> Example Form 2
         </p>
      </a>
   </ul>
</div>

<!-- Table -->
<section class="row">
   <div class="col-12">
      <table class="table table-striped table-hover">
         <thead>
            <tr>
               <th>Dropdown ID</th>
               <th>Value</th>
               <th>isDisabled</th>
               <th>Created At</th>
               <th>Created By (User ID)</th>
               <th>Actions</th>
            </tr>
         <tbody>
            {{#each data}}
            <tr>
               <td>{{this.dropdownID}}</td>
               <td>{{this.value}}</td>
               <td>{{this.isDisabled}}</td>
               <td>{{this.createdAt}}</td>
               <td>{{this.userID}}</td>
               <td><a href="/dropdown/enable/{{this.dropdownID}}" class="btn btn-success">Enable</a> <a href="/dropdown/disable/{{this.dropdownID}}" class="btn btn-secondary">Disable</a>
            </tr>
            {{/each}}
         </tbody>
         </thead>
      </table>
   </div>
</section>

<!-- Add new dropdown value -->
<section class="row">
   <div class="container">
      <div>
         <h2>Add new value</h2>
         <form method="POST">
            <input name="value" class="form-control" placeholder="Dropdown Value" type="text">
            <br>
            <button class="btn btn-primary">Submit</button>
         </form>
      </div>
   </div>
</section>

<section class="row">
   <h4>Dropdown</h4>
   <div class="container">
         <select name="dropdown" id="dropdown">
            <option value="default" disabled selected>select a value...</option>
               {{#each data}}
                <option value="{{this.dropdownID}}" {{#if this.isDisabled}} disabled {{/if}}>{{this.value}}</option>
               {{/each}}
         </select>
      </div>
</section>

{{!-- 
<section class="row">
   <div>
      <h3>Test Functions</h3>
      <button class="btn btn-primary">Insert test record</button>
   </div>
</section>
--}}