<h2 class="text-center mt-2">Edit Policy</h2>
<form class="row g-5 m-auto" method="POST">
  <div class="col-md-7 m-auto mt-5">
    <!-- check for error messages in the session -->
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
    <h4>Policy Information</h4>
    <hr />
    <!-- Policy Number -->
    <div class="row">
      <div class="col-sm-6">
        <label for="Policy Number" class="form-label">Policy Number*</label>
        <input
          type="text"
          class="form-control"
          placeholder="Policy Number"
          name="policyNumber"
          value="{{policyInfo.policyNumber}}"
          required
        />
      </div>
      <!-- Policy Name -->
      <div class="col-sm-6">
        <label for="Policy Name" class="form-label">Policy Name*</label>
        <input
          type="text"
          class="form-control"
          placeholder="Policy Name"
          name="policyName"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="80"
          value="{{policyInfo.policyName}}"
          required
        />
      </div>
    </div>
    <div class="row">
      <!-- COW Date -->
      <div class="col-sm-6">
        <label for="COW Date" class="form-label">COW Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="COW Date"
          name="cowDate"
          value="{{policyInfo.cowDate}}"
        />
      </div>
      <!-- Council Resolution -->
      <div class="col-sm-6">
        <label for="Council Resolution" class="form-label">Council Resolution</label>
        <input
          type="text"
          class="form-control"
          placeholder="Council Resolution"
          name="councilResolution"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="40"
          value="{{policyInfo.councilResolution}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Date Approved -->
      <div class="col-sm-4">
        <label for="Date Approved" class="form-label">Date Approved</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date Approved"
          name="dateApproved"
          value="{{policyInfo.dateApproved}}"
        />
      </div>
      <!-- Date Amended -->
      <div class="col-sm-4">
        <label for="Date Amended" class="form-label">Date Amended</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date Amended"
          name="dateAmended"
          value="{{policyInfo.dateAmended}}"
        />
      </div>
      <!-- Date Effective -->
      <div class="col-sm-4">
        <label for="Date Effective" class="form-label">Date Effective</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date Effective"
          name="dateEffective"
          value="{{policyInfo.dateEffective}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Category -->
      <div class="col-sm-4">
        <label for="Category" class="form-label">Category</label>
        <select class="form-select" name="category">
          {{#if policyInfo.category}}
            <option
              value="{{policyInfo.category}}"
              disabled
              selected
            >{{policyInfo.category}}</option>
          {{else}}
            <option disabled selected>Category...</option>
          {{/if}}
          {{#each categoryDropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
      <!-- Last Review Date -->
      <div class="col-sm-4">
        <label for="Last Review Date" class="form-label">Last Review Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Last Review Date"
          name="lastReviewDate"
          value="{{policyInfo.lastReviewDate}}"
        />
      </div>
      <!-- Scheduled Review Date -->
      <div class="col-sm-4">
        <label for="Scheduled Review Date" class="form-label">Scheduled Review
          Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Scheduled Review Date"
          name="scheduledReviewDate"
          value="{{policyInfo.scheduledReviewDate}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Division -->
      <div class="col-sm-6">
        <label for="Division" class="form-label">Division</label>
        <input
          type="text"
          class="form-control"
          placeholder="Division"
          name="division"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="40"
          value="{{policyInfo.division}}"
        />
      </div>
      <!-- Authority -->
      <div class="col-sm-6">
        <label for="Authority" class="form-label">Authority</label>
        <select class="form-select" name="authority">
          {{#if policyInfo.authority}}
            <option
              value="{{policyInfo.authority}}"
              disabled
              selected
            >{{policyInfo.authority}}</option>
          {{else}}
            <option disabled selected>Authority...</option>
          {{/if}}
          {{#each authorityDropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row">
      <!-- Administrator -->
      <div class="col-sm-6">
        <label for="Administrator" class="form-label">Administrator</label>
        <input
          type="text"
          class="form-control"
          placeholder="Administrator"
          name="administrator"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="40"
          value="{{policyInfo.administrator}}"
        />
      </div>
      <!-- Status -->
      <div class="col-sm-6">
        <label for="Status" class="form-label">Status</label>
        <select class="form-select" name="status">
          {{#if policyInfo.status}}
            <option
              value="{{policyInfo.status}}"
              disabled
              selected
            >{{policyInfo.status}}</option>
          {{else}}
            <option disabled selected>Status...</option>
          {{/if}}
          {{#each statusDropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row">
      <!-- Legislation Required -->
      <label for="Legislation Required" class="form-label">Legislation Required</label>
      <!-- Yes -->
      <div class="col-sm-6">
        <div class="form-check">
          <label class="form-check-label" for="legislationRequired">
            Yes
          </label>
          {{#ifCond policyInfo.legislationRequired "===" "Yes"}}
            <input
              class="form-check-input"
              type="radio"
              name="legislationRequired"
              value="Yes"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="legislationRequired"
              value="Yes"
            />
          {{/ifCond}}
        </div>
      </div>
      <!-- No -->
      <div class="col-sm-6">
        <div class="form-check">
          <label class="form-check-label" for="legislationRequired">
            No
          </label>
          {{#ifCond policyInfo.legislationRequired "===" "No"}}
            <input
              class="form-check-input"
              type="radio"
              name="legislationRequired"
              value="No"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="legislationRequired"
              value="No"
            />
          {{/ifCond}}
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Filehold URL -->
      <div class="col">
        <label for="Filehold URL" class="form-label">Filehold URL</label>
        <input
          type="text"
          class="form-control"
          placeholder="Filehold URL"
          name="fileHoldURL"
          maxlength="255"
          value="{{policyInfo.fileHoldURL}}"
        />
      </div>
    </div>
    <!-- Notes -->
    <div class="row">
      <div class="col">
        <label for="Notes" class="form-label">Notes</label>
        <textarea
          type="text"
          name="notes"
          class="form-control"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="255"
        >{{policyInfo.notes}}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary mt-2"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </div>
</form>