<h2 class="text-center mt-1">Edit Procedure</h2>
<form class="row g-5 m-auto" method="POST">
  <div class="col-md-7 m-auto mt-5">
    <!-- check for error messages in the session -->
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
    <h4>Procedure Information</h4>
    <hr />
    <div class="row">
      <!-- Procedure Name -->
      <div class="col-sm-6">
        <label for="Procedure Name" class="form-label">Procedure Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Procedure Name"
          name="procedureName"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{procedureInfo.procedureName}}"
          maxlength="30"
          required
        />
      </div>
      <!-- Date Approved -->
      <div class="col-sm-6">
        <label for="Date Approved" class="form-label">Date Approved</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date Approved"
          name="dateApproved"
          value="{{procedureInfo.dateApproved}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Last Review Date -->
      <div class="col-sm-6">
        <label for="Last Review Date" class="form-label">Last Review Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Last Review Date"
          name="lastReviewDate"
          value="{{procedureInfo.lastReviewDate}}"
        />
      </div>
      <!-- Scheduled Review Date -->
      <div class="col-sm-6">
        <label for="Scheduled Review Date" class="form-label">Scheduled Review
          Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Scheduled Review Date"
          name="scheduledReviewDate"
          value="{{procedureInfo.scheduledReviewDate}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Date Amended -->
      <div class="col-sm-6">
        <label for="Date Amended" class="form-label">Date Amended</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date Amended"
          name="dateAmended"
          value="{{procedureInfo.dateAmended}}"
        />
      </div>
      <!-- Status -->
      <div class="col-sm-6">
        <label for="Status" class="form-label">Status</label>
        <select class="form-select" name="status">
          <option disabled selected>Status...</option>
          {{#if procedureInfo.status}}
            <option
              value="{{procedureInfo.status}}"
              selected
              disabled
            >{{procedureInfo.status}}</option>
          {{/if}}
          {{#each statusDropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row">
      <!-- Notes -->
      <div class="col">
        <label for="Notes" class="form-label">Notes</label>
        <textarea
          type="text"
          name="notes"
          class="form-control"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="255"
        >{{procedureInfo.notes}}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary mt-2"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </div>
</form>