<h2 class="text-center mt-1">Edit Guideline</h2>
<form class="row g-5 m-auto" method="POST">
  <div class="col-md-7 m-auto mt-5">
    <!-- check for error messages in the session -->
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
    <h4>Guideline Information</h4>
    <hr />
    <div class="row">
      <!-- Guideline Number -->
      <div class="col-sm-6">
        <label for="Guideline Number" class="form-label">Guideline Number*</label>
        <input
          type="text"
          class="form-control"
          placeholder="Guideline Number"
          name="guidelineNumber"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.guidelineNumber}}"
          maxlength="30"
          required
        />
      </div>
      <!-- Guideline Number -->
      <div class="col-sm-6">
        <label for="Guideline Name" class="form-label">Guideline Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Guideline Name"
          name="guidelineName"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.guidelineName}}"
          maxlength="30"
        />
      </div>
    </div>
    <div class="row">
      <!-- Date Approved -->
      <div class="col-sm-6">
        <label for="Date Approved" class="form-label">Date Approved</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date Approved"
          name="dateApproved"
          value="{{formData.dateApproved}}"
        />
      </div>
      <!-- Date Amended -->
      <div class="col-sm-6">
        <label for="Date Amended" class="form-label">Date Amended</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date Amended"
          name="dateAmended"
          value="{{formData.dateAmended}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Last Review Date -->
      <div class="col-sm-4">
        <label for="Last Review Date" class="form-label">Last Review Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Last Review Date"
          name="lastReviewDate"
          value="{{formData.lastReviewDate}}"
        />
      </div>
      <!-- Scheduled Review Date -->
      <div class="col-sm-4">
        <label for="Scheduled Review Date" class="form-label">Scheduled Review
          Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Scheduled Review Date"
          name="scheduledReviewDate"
          value="{{formData.scheduledReviewDate}}"
        />
      </div>
      <div class="col-sm-4">
        <label for="Category" class="form-label">Category</label>
        <input
          type="text"
          class="form-control"
          placeholder="Category"
          name="category"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="Guideline"
          maxlength="25"
          required
        />
      </div>
    </div>
    <div class="row">
      <!-- Division -->
      <div class="col-sm-4">
        <label for="Division" class="form-label">Division</label>
        <input
          type="text"
          class="form-control"
          placeholder="Division"
          name="division"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="40"
          value="{{formData.division}}"
        />
      </div>
      <!-- Authority -->
      <div class="col-sm-4">
        <label for="Authority" class="form-label">Authority</label>
        <select class="form-select" name="authority">
          {{#if formData.authority}}
            <option
              value="{{formData.authority}}"
              disabled
              selected
            >{{formData.authority}}</option>
          {{else}}
            <option disabled selected>Authority...</option>
          {{/if}}
          {{#each authorityDropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
      <!-- Status -->
      <div class="col-sm-4">
        <label for="Status" class="form-label">Status</label>
        <select class="form-select" name="status">
          {{#if formData.status}}
            <option
              value="{{formData.status}}"
              disabled
              selected
            >{{formData.status}}</option>
          {{else}}
            <option disabled selected>Status...</option>
          {{/if}}
          {{#each statusDropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row">
      <!-- Administrator -->
      <div class="col-sm-6">
        <label for="Administrator" class="form-label">Administrator</label>
        <input
          type="text"
          class="form-control"
          placeholder="Administrator"
          name="administrator"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="40"
          value="{{formData.administrator}}"
        />
      </div>
      <!-- Filehold URL -->
      <div class="col">
        <label for="Filehold URL" class="form-label">Filehold URL</label>
        <input
          type="text"
          class="form-control"
          placeholder="Filehold URL"
          name="fileHoldURL"
          maxlength="255"
          value="{{formData.fileHoldURL}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Legislation Required -->
      <label for="Legislation Required" class="form-label">Legislation Required</label>
      <!-- Yes -->
      <div class="col-sm-6">
        <div class="form-check">
          <label class="form-check-label" for="legislationRequired">
            Yes
          </label>
          {{#ifCond formData.legislationRequired "===" "Yes"}}
            <input
              class="form-check-input"
              type="radio"
              name="legislationRequired"
              value="Yes"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="legislationRequired"
              value="Yes"
            />
          {{/ifCond}}
        </div>
      </div>
      <!-- No -->
      <div class="col-sm-6">
        <div class="form-check">
          <label class="form-check-label" for="legislationRequired">
            No
          </label>
          {{#ifCond formData.legislationRequired "===" "No"}}
            <input
              class="form-check-input"
              type="radio"
              name="legislationRequired"
              value="No"
              checked
            />
          {{else}}
            <input
              class="form-check-input"
              type="radio"
              name="legislationRequired"
              value="No"
            />
          {{/ifCond}}
        </div>
      </div>
    </div>
    <!-- Notes -->
    <div class="row">
      <div class="col">
        <label for="Notes" class="form-label">Notes</label>
        <textarea
          type="text"
          name="notes"
          class="form-control"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="255"
        >{{formData.notes}}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary mt-2"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </div>
</form>