<h2>Policies and Procedures</h2>
<div class="content">
    <div class="row">
    <div class="col-sm-4">
      <h4>Filtering</h4>
      <form method="POST">
        <select
          class="form-select-sm"
          id="filterCategory"
          title="filterSelect"
          name="filterCategory"
        >
          <option disabled selected>Filter By...</option>
          <option value="Policy ID">Policy ID</option>
        </select>
        <!-- filterValue input -->
        <input
          name="filterValue"
          id="filterValue"
          class="form-control-sm"
          pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
          title="No special characters!"
          placeholder="Search..."
          value="{{filterValue}}"
        />
        <button
          id="filterButton"
          class="btn btn-sm btn-primary"
          type="submit"
        >Search</button>
        <a
          id="filterButton"
          href="/policies"
          class="btn btn-sm btn-secondary"
          type="submit"
        >Reset</a>
      </form>
      {{#if queryCount}}
        <div>
          <strong>{{queryCount}}</strong>
        </div>
      {{/if}}
    </div>
  </div>

  <!-- check for error messages in the session -->
  {{#if message}}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {{/if}}

  <!-- Table -->
  <table class="sortable table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Policy ID</th>
        <th>Policy Number</th>
        <th>Policy Name</th>
        <th>Date Adopted</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <td><a
              id="ownerLink"
              href="/policies/policy/{{this.policyID}}"
            >{{this.policyID}}</td>
          <td>{{this.policyNumber}}</a></td>
          <td>{{this.policyName}}</td>
          <td>{{this.dateAdopted}}</td>
          <td>{{this.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a id="pagJump">Jump to page...</a>
  <nav id="pagination">
    <ul class="pagination pagination-sm">
      {{#if paginate.hasPreviousPages}}
        <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
      {{/if}}
      {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}"
          >{{this.number}}</a></li>
      {{/each}}
      {{#if hasMorePages}}
        <li class="page-item"><a class="page-link" href="{{paginate.href}}">Next</a></li>  
      {{/if}}
    </ul>
  </nav>
</div>