{{! <script src="/js/xlsx.js"></script>
<script src="/js/FileSaver.js"></script>
<script src="/js/tableexport.js"></script>
<script>
  TableExport(document.getElementById("table"), { formats: ["csv"], filename:
  "policies" });
</script> }}

<h2 class="text-center mt-2">Policies Management</h2>
<h4>Filtering</h4>
<form class="mb-0" method="GET">
  <select
    class="form-select-sm"
    id="filterCategory"
    title="Category To Filter By"
    name="filterCategory"
    required
  >
    {{#if filterCategory}}
      <option value="{{filterCategory}}" selected>{{filterCategory}}</option>
    {{else}}
      <option value="" disabled selected>Filter By...</option>
    {{/if}}
    {{#each filterOptions}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <!-- filterValue input -->
  <input
    name="filterValue"
    id="filterValue"
    class="form-control-sm"
    pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
    title="No special characters!"
    placeholder="Search..."
    value="{{filterValue}}"
  />
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/policies"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>
<div class="row">
  <div class="col">
    <p class="m-0" id="unrelatedProceduresGuidelines">View Unrelated
      <a id="policyHistoryButton" href="/policies/procedures">Procedures</a>
      &
      <a id="policyHistoryButton" href="/policies/guidelines">Guidelines</a></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <a
      class="user-select-none"
      id="policyHistoryButton"
      data-bs-toggle="modal"
      data-bs-target="#policyHistoryModal"
    >View Policy History</a>
  </div>
</div>
<div class="row">
  <div class="col mb-1">
    <h4 class="mb-0 mt-1">Policies</h4>
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
    <a href="/policies/addRecord" class="btn btn-sm btn-primary float-end">Add
      Record</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table
  id="policyTable"
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Policy Number</th>
      <th>Policy Name</th>
      <th>COW Date</th>
      <th>Council Resolution</th>
      <th>Date Approved</th>
      <th>Date Amended</th>
      <th>Date Effective</th>
      <th>Category</th>
      <th>Last Review Date</th>
      <th>Scheduled Review Date</th>
      <th>Division</th>
      <th>Authority</th>
      <th>Administrator</th>
      <th>Legislation Required</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td class="tableLink">
          <a
            class="stretched-link"
            id="ownerLink"
            href="/policies/policy/{{this.policyID}}"
            title="View Policy Related Information"
          >{{this.policyNumber}}</a></td>
        <td>{{this.policyName}}</td>
        <td>{{this.cowDate}}</td>
        <td>{{this.councilResolution}}</td>
        <td>{{this.dateApproved}}</td>
        <td>{{this.dateAmended}}</td>
        <td>{{this.dateEffective}}</td>
        <td>{{this.category}}</td>
        <td>{{this.lastReviewDate}}</td>
        <td>{{this.scheduledReviewDate}}</td>
        <td>{{this.division}}</td>
        <td>{{this.authority}}</td>
        <td>{{this.administrator}}</td>
        <td>{{#ifCond this.legislationRequired "===" "Yes"}}
            <input type="checkbox" onclick="return false;" checked />
          {{else}}
            <input type="checkbox" onclick="return false;" />{{/ifCond}}</td>
        <td>{{this.status}}</td>
        <td style="width: 8.5%;">
          <a
            href="/policies/editPolicy/{{this.policyID}}"
            class="btn btn-sm btn-secondary my-1"
          >Edit</a>
          |
          <a
            href="{{this.fileHoldURL}}"
            target="_blank"
            class="btn btn-sm btn-secondary"
          >Filehold</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item"><a
          class="page-link"
          href="{{paginate.href}}"
        >Next</a></li>
    {{/if}}
  </ul>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="policyHistoryModal"
  tabindex="-1"
  aria-labelledby="policyHistoryModal"
  aria-hidden="true"
>
  <form method="POST">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Policy History Search</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <label for="Policy Name" class="form-label">Enter the name of the
            policy</label>
          <input
            list="policies"
            class="form-control"
            placeholder="Policy Name"
            name="policyName"
            required
          />
          <datalist id="policies">
            {{#each data}}
              <option value="{{this.policyName}}">{{this.policyName}}</option>
            {{/each}}
          </datalist>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>