<h2 class="text-center mt-1">{{policyInfo.policyName}}</h2>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

{{#if policyInfo.notes}}
  <div class="row">
    <div class="col-sm-5">
      <p><strong>Policy Notes: </strong>
        {{policyInfo.notes}}</p>
    </div>
  </div>
{{/if}}

<!-- Procedures Table -->
<div class="row">
  <div class="col">
    <h4>Procedures</h4>
  </div>
  <div class="col float-end">
    <a
      class="btn btn-sm btn-primary mb-1 float-end"
      href="/policies/addProcedure/{{policyID}}"
    >Add Procedure</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <table
      class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
    >
      <thead>
        <tr>
          <th>Procedure Number</th>
          <th>Procedure Name</th>
          <th>Date Approved</th>
          <th>Last Review Date</th>
          <th>Scheduled Review Date</th>
          <th>Date Amended</th>
          <th>Status</th>
          <th>Category</th>
          <th>Division</th>
          <th>Authority</th>
          <th>Administrator</th>
          <th>Legislation Required</th>
          <th>Notes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each procedures}}
          <tr>
            <td>{{this.procedureNumber}}</td>
            <td>{{this.procedureName}}</td>
            <td>{{this.dateApproved}}</td>
            <td>{{this.lastReviewDate}}</td>
            <td>{{this.scheduledReviewDate}}</td>
            <td>{{this.dateAmended}}</td>
            <td>{{this.status}}</td>
            <td>{{this.category}}</td>
            <td>{{this.division}}</td>
            <td>{{this.authority}}</td>
            <td>{{this.administrator}}</td>
            <td>{{#ifCond this.legislationRequired "===" "Yes"}}
                <input type="checkbox" onclick="return false;" checked />
              {{else}}
                <input
                  type="checkbox"
                  onclick="return false;"
                />{{/ifCond}}</td>
            <td>{{this.notes}}</td>
            <td style="width: 8.5%;">
              <a
                href="/policies/editProcedure/{{this.procedureID}}"
                class="btn btn-sm btn-secondary"
              >Edit</a>
              |
              <a
                href="{{this.fileHoldURL}}"
                target="_blank"
                class="btn btn-sm btn-secondary"
              >Filehold</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<!-- Guidelines Table -->
<div class="row">
  <div class="col">
    <h4>Guidelines</h4>
  </div>
  <div class="col float-end">
    <a
      class="btn btn-sm btn-primary mb-1 float-end"
      href="/policies/addGuideline/{{policyID}}"
    >Add Guideline</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <table
      class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
    >
      <thead>
        <tr>
          <th>Guideline Number</th>
          <th>Guideline Name</th>
          <th>Date Approved</th>
          <th>Last Review Date</th>
          <th>Scheduled Review Date</th>
          <th>Date Amended</th>
          <th>Status</th>
          <th>Category</th>
          <th>Division</th>
          <th>Authority</th>
          <th>Administrator</th>
          <th>Legislation Required</th>
          <th>Notes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each guidelines}}
          <tr>
            <td>{{this.guidelineNumber}}</td>
            <td>{{this.guidelineName}}</td>
            <td>{{this.dateApproved}}</td>
            <td>{{this.lastReviewDate}}</td>
            <td>{{this.scheduledReviewDate}}</td>
            <td>{{this.dateAmended}}</td>
            <td>{{this.status}}</td>
            <td>{{this.category}}</td>
            <td>{{this.division}}</td>
            <td>{{this.authority}}</td>
            <td>{{this.administrator}}</td>
            <td>{{#ifCond this.legislationRequired "===" "Yes"}}
                <input type="checkbox" onclick="return false;" checked />
              {{else}}
                <input
                  type="checkbox"
                  onclick="return false;"
                />{{/ifCond}}</td>
            <td>{{this.notes}}</td>
            <td style="width: 8.5%;">
              <a
                href="/policies/editGuideline/{{this.guidelineID}}"
                class="btn btn-sm btn-secondary"
              >Edit</a>
              |
              <a
                href="{{this.fileHoldURL}}"
                target="_blank"
                class="btn btn-sm btn-secondary"
              >Filehold</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <a
      class="user-select-none"
      id="policyHistoryButton"
      href="/policies/policyHistory/{{policyID}}"
    >View Policy History</a>
  </div>
</div>