<h2 class="text-center mt-2">{{policyName}} - History</h2>
<h4>Filtering</h4>
<form class="mb-0" method="GET">
  <select
    class="form-select-sm"
    id="filterMonth"
    title="Month Filter"
    name="filterMonth"
  >
    <option disabled selected>Month...</option>
    {{#if filterMonth}}
      <option value="{{filterMonth}}" selected>{{filterMonth}}</option>
    {{/if}}
    {{#each monthDropdownValues}}
      <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
    {{/each}}
  </select>
  <select
    class="form-select-sm"
    id="filterYear"
    title="Year Filter"
    name="filterYear"
  >
    <option disabled selected>Year...</option>
    {{#if filterYear}}
      <option value="{{filterYear}}" selected>{{filterYear}}</option>
    {{/if}}
    {{#each yearDropdownValues}}
      <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
    {{/each}}
  </select>
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/policies/policyHistory/{{policyID}}"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<h4>Policy History</h4>
<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Policy Number</th>
      <th>Policy Name</th>
      <th>COW Date</th>
      <th>Council Resolution</th>
      <th>Date Approved</th>
      <th>Date Amended</th>
      <th>Date Effective</th>
      <th>Category</th>
      <th>Last Review Date</th>
      <th>Scheduled Review Date</th>
      <th>Division</th>
      <th>Authority</th>
      <th>Administrator</th>
      <th>Status</th>
      <th>Filehold URL</th>
      <th>Notes</th>
      <th>Last Modified</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each policyHistory}}
      <tr>
        <td>{{this.policyNumber}}</td>
        <td>{{this.policyName}}</td>
        <td>{{this.cowDate}}</td>
        <td>{{this.councilResolution}}</td>
        <td>{{this.dateApproved}}</td>
        <td>{{this.dateAmended}}</td>
        <td>{{this.dateEffective}}</td>
        <td>{{this.category}}</td>
        <td>{{this.lastReviewDate}}</td>
        <td>{{this.scheduledReviewDate}}</td>
        <td>{{this.division}}</td>
        <td>{{this.authority}}</td>
        <td>{{this.administrator}}</td>
        <td>{{this.status}}</td>
        <td>{{this.fileHoldURL}}</td>
        <td>{{this.notes}}</td>
        <td>{{formatDate this.lastModified}}</td>
        <td>{{this.action}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="row">
  <div class="col-12">
    <a
      class="user-select-none"
      id="procedureHistory"
      onclick="toggleProcedureHistory();"
    >See procedure history...</a>
  </div>
  <div class="col-12">
    <a
      class="user-select-none"
      id="guidelineHistory"
      onclick="toggleGuidelineHistory();"
    >See guideline history...</a>
  </div>
</div>

<section id="procedureHistorySection" class="row" style="display: none;">
  <div class="col-12">
    <h4>Procedure History</h4>
    {{#group procedureHistory by="year"}}
      <strong>{{{value}}}</strong>
      <table
        class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
      >
        <thead>
          <tr>
            <th>Procedure Number</th>
            <th>Procedure Name</th>
            <th>Date Approved</th>
            <th>Last Review Date</th>
            <th>Scheduled Review Date</th>
            <th>Date Amended</th>
            <th>Status</th>
            <th>Division</th>
            <th>Authority</th>
            <th>Administrator</th>
            <th>Legislation Required</th>
            <th>Notes</th>
            <th>Last Modified</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {{#each items}}
            <tr>
              <td>{{this.procedureNumber}}</td>
              <td>{{this.procedureName}}</td>
              <td>{{this.dateApproved}}</td>
              <td>{{this.lastReviewDate}}</td>
              <td>{{this.scheduledReviewDate}}</td>
              <td>{{this.dateAmended}}</td>
              <td>{{this.status}}</td>
              <td>{{this.division}}</td>
              <td>{{this.authority}}</td>
              <td>{{this.administrator}}</td>
              <td>{{#ifCond this.legislationRequired "===" "Yes"}}
                  <input type="checkbox" onclick="return false;" checked />
                {{else}}
                  <input
                    type="checkbox"
                    onclick="return false;"
                  />{{/ifCond}}</td>
              <td>{{this.notes}}</td>
              <td>{{formatDate this.lastModified}}</td>
              <td>{{this.action}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/group}}
  </div>
</section>

<section id="guidelineHistorySection" class="row" style="display: none;">
  <div class="col-12">
    <h4>Guideline History</h4>
    {{#group guidelineHistory by="year"}}
      <strong>{{{value}}}</strong>
      <table
        class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
      >
        <thead>
          <tr>
            <th>Guideline Number</th>
            <th>Guideline Name</th>
            <th>Date Approved</th>
            <th>Last Review Date</th>
            <th>Scheduled Review Date</th>
            <th>Date Amended</th>
            <th>Status</th>
            <th>Division</th>
            <th>Authority</th>
            <th>Administrator</th>
            <th>Legislation Required</th>
            <th>Notes</th>
            <th>Last Modified</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {{#each items}}
            <tr>
              <td>{{this.guidelineNumber}}</td>
              <td>{{this.guidelineName}}</td>
              <td>{{this.dateApproved}}</td>
              <td>{{this.lastReviewDate}}</td>
              <td>{{this.scheduledReviewDate}}</td>
              <td>{{this.dateAmended}}</td>
              <td>{{this.status}}</td>
              <td>{{this.division}}</td>
              <td>{{this.authority}}</td>
              <td>{{this.administrator}}</td>
              <td>{{#ifCond this.legislationRequired "===" "Yes"}}
                  <input type="checkbox" onclick="return false;" checked />
                {{else}}
                  <input
                    type="checkbox"
                    onclick="return false;"
                  />{{/ifCond}}</td>
              <td>{{this.notes}}</td>
              <td>{{formatDate this.lastModified}}</td>
              <td>{{this.action}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/group}}
  </div>
</section>