<h2 class="text-center mt-1">Procedures</h2>
<h4>Filtering</h4>
<form class="mb-0" method="GET">
  <select
    class="form-select-sm"
    id="filterCategory"
    title="filterSelect"
    name="filterCategory"
    required
  >
    <option value="" disabled selected>Filter By...</option>
    {{#each filterOptions}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <!-- filterValue input -->
  <input
    name="filterValue"
    id="filterValue"
    class="form-control-sm"
    pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
    title="No special characters!"
    placeholder="Search..."
    value="{{filterValue}}"
  />
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/policies/procedures"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>
<div class="row">
  <div class="col mb-1">
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
  </div>
</div>
<section class="row">
  <div class="col-12">
    <table
      class="table table-sm table-bordered table-striped table-hover sortable"
    >
      <thead>
        <tr>
          <th>Procedure ID</th>
          <th>Procedure Name</th>
          <th>Date Approved</th>
          <th>Last Review Date</th>
          <th>Scheduled Review Date</th>
          <th>Date Amended</th>
          <th>Status</th>
          <th>Division</th>
          <th>Authority</th>
          <th>Administrator</th>
          <th>Legislation Required</th>
          <th>Notes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td>{{this.procedureID}}</td>
            <td><a id="ownerLink" href="/policies/editProcedure/{{this.procedureID}}">{{this.procedureName}}</a></td>
            <td>{{this.dateApproved}}</td>
            <td>{{this.lastReviewDate}}</td>
            <td>{{this.scheduledReviewDate}}</td>
            <td>{{this.dateAmended}}</td>
            <td>{{this.status}}</td>
            <td>{{this.division}}</td>
            <td>{{this.authority}}</td>
            <td>{{this.administrator}}</td>
            <td>{{#ifCond this.legislationRequired "===" "Yes"}}
            <input type="checkbox" onclick="return false;" checked />
              {{else}}
            <input type="checkbox" onclick="return false;" />{{/ifCond}}</td>
            <td>{{this.notes}}</td>
            <td style="width: 17%;">
              <a
                data-bs-toggle="modal"
                data-bs-target="#addToPolicyModal-{{this.procedureID}}"
                class="btn btn-sm btn-secondary"
              >Add to Policy</a>
              |
              <a
                href="/policies/procedures/procedureHistory/{{this.procedureID}}"
                class="btn btn-sm btn-secondary"
              >History</a>
              |
              <a
                href="{{this.fileHoldURL}}"
                class="btn btn-sm btn-secondary"
              >Filehold</a></td>
          </tr>
          <!-- Modal -->
          <div
            class="modal fade"
            id="addToPolicyModal-{{this.procedureID}}"
            tabindex="-1"
            aria-labelledby="addToPolicyModal"
            aria-hidden="true"
          >
            <form method="POST">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add Procedure to Existing Policy</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <label for="Procedure ID" class="form-label">Procedure ID</label>
                    <input
                      list="policies"
                      class="form-control"
                      placeholder="Procedure ID"
                      name="procedureID"
                      value="{{this.procedureID}}"
                      readonly
                    />
                    <label for="Policy Name" class="form-label">Enter the name
                      of the policy</label>
                    <input
                      list="policies"
                      class="form-control"
                      placeholder="Policy Name"
                      name="policyName"
                      required
                    />
                    <datalist id="policies">
                      {{#each ../policies}}
                        <option
                          value="{{this.policyName}}"
                        >{{this.policyName}}</option>
                      {{/each}}
                    </datalist>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >Close</button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                    >Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        {{/each}}
      </tbody>
    </table>
    <nav id="pagination">
      <ul class="pagination pagination-sm">
        {{#if paginate.hasPreviousPages}}
          <li class="page-item"><a
              class="page-link"
              href="{{prev}}"
            >Prev</a></li>
        {{/if}}
        {{#each pages}}
          <li class="page-item">
            <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
        {{/each}}
        {{#if hasMorePages}}
          <li class="page-item"><a
              class="page-link"
              href="{{paginate.href}}"
            >Next</a></li>
        {{/if}}
      </ul>
    </nav>
  </div>
</section>