<h2 class="text-center mt-2">Procedure History</h2>
<h4>Filtering</h4>
<form class="mb-1" method="GET">
  <select
    class="form-select-sm"
    id="filterMonth"
    title="Month Filter"
    name="filterMonth"
  >
    {{#if filterMonth}}
      <option value="{{filterMonth}}" selected>{{filterMonth}}</option>
    {{else}}
      <option value="" disabled selected>Month...</option>
    {{/if}}
    {{#each monthDropdownValues}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <select
    class="form-select-sm"
    id="filterYear"
    title="Year Filter"
    name="filterYear"
  >
    {{#if filterYear}}
      <option value="{{filterYear}}" selected>{{filterYear}}</option>
    {{else}}
      <option value="" disabled selected>Year...</option>
    {{/if}}
    {{#each yearDropdownValues}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/policies/procedures/procedureHistory/{{procedureID}}"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<table
  class="table table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Procedure Number</th>
      <th>Procedure Name</th>
      <th>Date Approved</th>
      <th>Last Review Date</th>
      <th>Scheduled Review Date</th>
      <th>Date Amended</th>
      <th>Status</th>
      <th>Division</th>
      <th>Authority</th>
      <th>Administrator</th>
      <th>Legislation Required</th>
      <th>Last Modified</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td
          data-bs-toggle="popover"
          data-bs-trigger="hover"
          data-bs-placement="right"
          data-bs-custom-class="custom-popover"
          data-bs-title="Notes"
          data-bs-content="{{this.notes}}"
        >{{this.procedureNumber}}</td>
        <td>{{this.procedureName}}</td>
        <td>{{this.dateApproved}}</td>
        <td>{{this.lastReviewDate}}</td>
        <td>{{this.scheduledReviewDate}}</td>
        <td>{{this.dateAmended}}</td>
        <td>{{this.status}}</td>
        <td>{{this.division}}</td>
        <td>{{this.authority}}</td>
        <td>{{this.administrator}}</td>
        <td>{{#ifCond this.legislationRequired "===" "Yes"}}
            <input type="checkbox" onclick="return false;" checked />
          {{else}}
            <input type="checkbox" onclick="return false;" />{{/ifCond}}</td>
        <td class="fw-bold">{{formatDate this.lastModified}}</td>
        <td class="fw-bold">{{this.action}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"
></script>
<script>
  /* enable Bootstrap popovers. */
  const popoverTriggerList =
  document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList =
  [...popoverTriggerList].map(popoverTriggerEl => new
  bootstrap.Popover(popoverTriggerEl))
</script>