<h2 class="text-center mt-1">Hawker & Peddler Businesses</h2>
<div class="row">
  <div class="col mb-1">
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
    <a
      href="/hawkerPeddler/addPropertyOwner"
      class="btn btn-sm btn-primary float-end"
    >Add A Property Owner</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table class="table table-sm table-bordered table-striped table-hover sortable">
  <thead>
    <tr>
      <th>Property Owner Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        {{#each hawkerPeddlerPropertyOwnerAddresses}}
          <td>{{this.streetNumber}}
            {{this.streetName}},
            {{this.town}}
            {{this.postalCode}}</td>
        {{/each}}
        <td><a
            class="btn btn-sm btn-secondary"
            href="/hawkerPeddler/editPropertyOwner/{{this.hawkerPeddlerPropertyOwnerID}}"
          >Edit</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>