<h2 class="text-center mt-1">Hawker & Peddler Business</h2>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Property Owners Table -->
<div class="row">
  <h4>Property Owners</h4>
  <div class="col mb-1">
    {{#if propertyOwnersCount}}
      <strong class="float-start mt-2">{{propertyOwnersCount}}</strong>
    {{/if}}
    <a
      href="/hawkerPeddler/addPropertyOwner"
      class="btn btn-sm btn-primary float-end"
    >Add A Property Owner</a>
  </div>
</div>
<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Property Owner Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each propertyOwners}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        {{#each hawkerPeddlerPropertyOwnerAddresses}}
          <td><a
              id="ownerLink"
              href="/hawkerPeddler/propertyOwnerAddressHistory/{{this.hawkerPeddlerPropertyOwnerID}}"
            >{{this.streetNumber}}
              {{this.streetName}},
              {{this.town}}
              {{this.postalCode}}</a></td>
        {{/each}}
        <td><a
            class="btn btn-sm btn-secondary"
            href="/hawkerPeddler/editPropertyOwner/{{this.hawkerPeddlerPropertyOwnerID}}"
          >Edit</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Applicants Table -->
<div class="row">
  <h4>Applicants</h4>
  <div class="col mb-1">
    {{#if applicantsCount}}
      <strong class="float-start mt-2">{{applicantsCount}}</strong>
    {{/if}}
    <a
      href="/hawkerPeddler/addApplicant"
      class="btn btn-sm btn-primary float-end"
    >Add An Applicant</a>
  </div>
</div>
<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Applicant Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>License #</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each applicants}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        {{#each hawkerPeddlerApplicantAddresses}}
          <td><a
              id="ownerLink"
              href="/hawkerPeddler/applicantAddressHistory/{{this.hawkerPeddlerApplicantID}}"
            >{{this.streetNumber}}
              {{this.streetName}},
              {{this.town}}
              {{this.postalCode}}</a></td>
        {{/each}}
        <td>{{this.licenseNumber}}</td>
        <td><a
            class="btn btn-sm btn-secondary"
            href="/hawkerPeddler/editApplicant/{{this.hawkerPeddlerApplicantID}}"
          >Edit</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>