<h2 class="text-center mt-1">Edit Business</h2>
<form class="row g-5 m-auto" method="POST">
  <div class="col-md-7 m-auto mt-5">
    <!-- check for error messages in the session -->
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
    <h4>Business Information</h4>
    <hr />
    <div class="row">
      <!-- Business Name -->
      <div class="col-sm-4">
        <label for="Business Name" class="form-label">Business Name*</label>
        <input
          type="text"
          placeholder="Business Name"
          class="form-control"
          name="businessName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{{formData.businessName}}}"
          maxlength="50"
          required
        />
      </div>
      <!-- Phone Number -->
      <div class="col-sm-4">
        <label for="Phone Number" class="form-label">Phone Number</label>
        <input
          type="text"
          class="form-control"
          placeholder="Phone Number"
          name="phoneNumber"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.phoneNumber}}"
        />
      </div>
      <!-- Email -->
      <div class="col-sm-4">
        <label for="Email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.email}}"
          maxlength="50"
        />
      </div>
    </div>
    <div class="row">
      <!-- Street Number -->
      <div class="col-sm-6">
        <label for="Street Number" class="form-label">Street Number*</label>
        <input
          type="number"
          class="form-control"
          placeholder="Street Number"
          name="streetNumber"
          value="{{formData.streetNumber}}"
          required
        />
      </div>
      <!-- Street Name -->
      <div class="col-sm-6">
        <label for="Street Name" class="form-label">Street Name*</label>
        <input
          class="form-control"
          id="streetName"
          title="streetName"
          name="streetName"
          list="streets"
          placeholder="Street Name..."
          value="{{formData.streetName}}"
          required
        />
        <datalist id="streets">
          {{#each dropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </datalist>
      </div>
    </div>
    <div class="row">
      <!-- Town -->
      <div class="col-sm-6">
        <label for="Town" class="form-label">Town</label>
        <input
          type="text"
          class="form-control"
          placeholder="Town"
          name="town"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          value="{{formData.town}}"
          maxlength="30"
        />
      </div>
      <!-- Postal Code -->
      <div class="col-sm-6">
        <label for="Postal Code" class="form-label">Postal Code</label>
        <input
          type="text"
          class="form-control"
          placeholder="Postal Code"
          name="postalCode"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.postalCode}}"
          maxlength="15"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Police VSC -->
        <label for="Police VSC" class="form-label">Police VSC</label>
        <div class="row">
          <!-- Yes -->
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label" for="Police VSC">
                Yes
              </label>
              {{#ifCond formData.policeVSC "===" "Yes"}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="policeVSC"
                  value="Yes"
                  checked
                />
              {{else}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="policeVSC"
                  value="Yes"
                />
              {{/ifCond}}
            </div>
          </div>
          <!-- No -->
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label" for="Police VSC">
                No
              </label>
              {{#ifCond formData.policeVSC "===" "No"}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="policeVSC"
                  value="No"
                  checked
                />
              {{else}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="policeVSC"
                  value="No"
                />
              {{/ifCond}}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- Photo ID -->
        <label for="Photo ID" class="form-label">Photo ID</label>
        <div class="row">
          <!-- Yes -->
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label" for="Photo ID">
                Yes
              </label>
              {{#ifCond formData.photoID "===" "Yes"}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="photoID"
                  value="Yes"
                  checked
                />
              {{else}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="photoID"
                  value="Yes"
                />
              {{/ifCond}}
            </div>
          </div>
          <!-- No -->
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label" for="Photo ID">
                No
              </label>
              {{#ifCond formData.photoID "===" "No"}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="photoID"
                  value="No"
                  checked
                />
              {{else}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="photoID"
                  value="No"
                />
              {{/ifCond}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Site Plan -->
        <label for="Photo ID" class="form-label">Site Plan</label>
        <div class="row">
          <!-- Yes -->
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label" for="Site Plan">
                Yes
              </label>
              {{#ifCond formData.sitePlan "===" "Yes"}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="sitePlan"
                  value="Yes"
                  checked
                />
              {{else}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="sitePlan"
                  value="Yes"
                />
              {{/ifCond}}
            </div>
          </div>
          <!-- No -->
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label" for="Site Plan">
                No
              </label>
              {{#ifCond formData.sitePlan "===" "No"}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="sitePlan"
                  value="No"
                  checked
                />
              {{else}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="sitePlan"
                  value="No"
                />
              {{/ifCond}}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- Zoning Clearance -->
        <label for="Zoning Clearance" class="form-label">Zoning Clearance</label>
        <div class="row">
          <!-- Yes -->
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label" for="Zoning Clearance">
                Yes
              </label>
              {{#ifCond formData.zoningClearance "===" "Yes"}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="zoningClearance"
                  value="Yes"
                  checked
                />
              {{else}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="zoningClearance"
                  value="Yes"
                />
              {{/ifCond}}
            </div>
          </div>
          <!-- No -->
          <div class="col-sm-3">
            <div class="form-check">
              <label class="form-check-label" for="Zoning Clearance">
                No
              </label>
              {{#ifCond formData.zoningClearance "===" "No"}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="zoningClearance"
                  value="No"
                  checked
                />
              {{else}}
                <input
                  class="form-check-input"
                  type="radio"
                  name="zoningClearance"
                  value="No"
                />
              {{/ifCond}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Items For Sale -->
      <div class="col">
        <label for="Notes" class="form-label">Items For Sale</label>
        <textarea
          type="text"
          name="itemsForSale"
          class="form-control"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="255"
        >{{formData.itemsForSale}}</textarea>
      </div>
    </div>
    <div class="row">
      <!-- Notes -->
      <div class="col">
        <label for="Notes" class="form-label">Notes</label>
        <textarea
          type="text"
          name="notes"
          class="form-control"
          pattern="[^()/><\][\\\x22;|]+"
          title="No special characters!"
          maxlength="255"
        >{{formData.notes}}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary mt-2"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </div>
</form>