<h2 class="text-center mt-2">Hawker & Peddler Licensing</h2>
<h4>Filtering</h4>
<form class="mb-0" method="GET">
  <select
    class="form-select-sm"
    id="filterCategory"
    title="Category To Filter By"
    name="filterCategory"
    required
  >
    {{#if filterCategory}}
      <option value="{{filterCategory}}" selected>{{filterCategory}}</option>
    {{else}}
      <option value="" disabled selected>Filter By...</option>
    {{/if}}
    {{#each filterOptions}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <!-- filterValue input -->
  <input
    name="filterValue"
    id="filterValue"
    class="form-control-sm"
    pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
    title="No special characters!"
    placeholder="Search..."
    value="{{filterValue}}"
  />
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/hawkerPeddler"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>
<div class="row">
  <div class="col mt-1">
    <a
      class="user-select-none"
      id="historyLink"
      data-bs-toggle="modal"
      data-bs-target="#historyModal"
    >View Address History</a>
  </div>
</div>
<div class="row">
  <div class="col mb-1">
    <h4 class="mb-0 mt-1">Businesses</h4>
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
    <a
      href="/hawkerPeddler/addBusiness"
      class="btn btn-sm btn-primary float-end"
    >Add A Business</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table class="table table-sm table-responsive table-bordered table-striped table-hover sortable">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Issue Date</th>
      <th>Expiry Date</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Items For Sale</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td><a
            id="ownerLink"
            href="/hawkerPeddler/business/{{this.hawkerPeddlerBusinessID}}"
            title="View Business Information"
          >{{this.businessName}}</a></td>
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        {{#each hawkerPeddlerBusinessAddresses}}
          <td>{{this.streetNumber}}
            {{this.streetName}},
            {{this.town}}
            {{this.postalCode}}</td>
        {{/each}}
        <td>{{this.itemsForSale}}</td>
        <td>{{this.notes}}</td>
        <td style="width: 17.5%;"><a
            class="btn btn-sm btn-secondary my-1"
            data-bs-toggle="modal"
            data-bs-target="#hawkerPeddlerRenewModal-{{this.hawkerPeddlerBusinessID}}"
          >Renew</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            href="/hawkerPeddler/editBusiness/{{this.hawkerPeddlerBusinessID}}"
          >Edit</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#hawkerPeddlerDocumentationModal-{{this.hawkerPeddlerBusinessID}}"
          >Documentation</a>
          <!-- Print to Filehold -->
          <a href="/hawkerPeddler/printLicense/{{this.hawkerPeddlerBusinessID}}" title="Print License"><i class="icon-blue bi bi-printer-fill ms-1"></i></a>
        </td>
      </tr>
      <!-- Renew Modal -->
      <div
        class="modal fade"
        id="hawkerPeddlerRenewModal-{{this.hawkerPeddlerBusinessID}}"
        tabindex="-1"
        aria-labelledby="Hawker Peddler Renewal Modal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Renew Business</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <label
                      for="Hawker Peddler Business ID"
                      class="form-label"
                    >Hawker Peddler Business ID</label>
                    <input
                      class="form-control"
                      placeholder="Hawker Peddler Business ID"
                      value="{{this.hawkerPeddlerBusinessID}}"
                      name="hawkerPeddlerBusinessID"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="Business Name" class="form-label">Business Name</label>
                    <input
                      class="form-control"
                      placeholder="Business Name"
                      value="{{this.businessName}}"
                      name="businessName"
                      readonly
                    />
                  </div>
                </div>
                <p class="mt-4 mb-0 fst-italic">This license will expire on <strong>{{formatDate ../modalExpiryDate}}</strong> after renewal</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Submit Renewal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Documentation Modal -->
      <div
        class="modal fade"
        id="hawkerPeddlerDocumentationModal-{{this.hawkerPeddlerBusinessID}}"
        tabindex="-1"
        aria-labelledby="Hawker Peddler Modal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Documentation</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <strong>Police VSC:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.policeVSC}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Photo ID:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.photoID}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Site Plan:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.sitePlan}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Zoning Clearance:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.zoningClearance}}</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item"><a
          class="page-link"
          href="{{paginate.href}}"
        >Next</a></li>
    {{/if}}
  </ul>
</nav>

<!-- History Modal -->
<div
  class="modal fade"
  id="historyModal"
  tabindex="-1"
  aria-labelledby="History Modal"
  aria-hidden="true"
>
  <form method="POST" action="/hawkerPeddler/history">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">History Search</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <label for="Business Name" class="form-label">Enter the name of the
            business</label>
          <input
            list="businesses"
            class="form-control"
            placeholder="Business Name"
            name="businessName"
            required
          />
          <datalist id="businesses">
            {{#each data}}
              <option
                value="{{this.businessName}}"
              >{{this.businessName}}</option>
            {{/each}}
          </datalist>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>