<h2 class="text-center mt-1">Hawker & Peddler Licensing</h2>
<div class="row">
  <div class="col mb-1">
    <h4>Businesses</h4>
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
    <a
      href="/hawkerPeddler/addBusiness"
      class="btn btn-sm btn-primary float-end"
    >Add A Business</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table class="table table-sm table-bordered table-striped table-hover sortable">
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Issue Date</th>
      <th>Expiry Date</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Items For Sale</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td><a
            id="ownerLink"
            href="/hawkerPeddler/business/{{this.hawkerPeddlerBusinessID}}"
          >{{this.businessName}}</a></td>
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        {{#each hawkerPeddlerBusinessAddresses}}
          <td>{{this.streetNumber}}
            {{this.streetName}},
            {{this.town}}
            {{this.postalCode}}</td>
        {{/each}}
        <td>{{this.itemsForSale}}</td>
        <td>{{this.notes}}</td>
        <td><a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#hawkerPeddlerRenewModal-{{this.hawkerPeddlerBusinessID}}"
          >Renew</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            href="/hawkerPeddler/editBusiness/{{this.hawkerPeddlerBusinessID}}"
          >Edit</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#hawkerPeddlerDocumentationModal-{{this.hawkerPeddlerBusinessID}}"
          >Documentation</a></td>
      </tr>
      <!-- Renew Modal -->
      <div
        class="modal fade"
        id="hawkerPeddlerRenewModal-{{this.hawkerPeddlerBusinessID}}"
        tabindex="-1"
        aria-labelledby="Hawker Peddler Renewal Modal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Renew Business</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <label
                      for="Hawker Peddler Business ID"
                      class="form-label"
                    >Hawker Peddler Business ID</label>
                    <input
                      class="form-control"
                      placeholder="Hawker Peddler Business ID"
                      value="{{this.hawkerPeddlerBusinessID}}"
                      name="hawkerPeddlerBusinessID"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="Business Name" class="form-label">Business Name</label>
                    <input
                      class="form-control"
                      placeholder="Business Name"
                      value="{{this.businessName}}"
                      name="businessName"
                      readonly
                    />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Submit Renewal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Documentation Modal -->
      <div
        class="modal fade"
        id="hawkerPeddlerDocumentationModal-{{this.hawkerPeddlerBusinessID}}"
        tabindex="-1"
        aria-labelledby="Hawker Peddler Modal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Documentation</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <strong>Police VSC:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.policeVSC}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Photo ID:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.photoID}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Site Plan:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.sitePlan}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Zoning Clearance:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.zoningClearance}}</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item"><a
          class="page-link"
          href="{{paginate.href}}"
        >Next</a></li>
    {{/if}}
  </ul>
</nav>