<h2 class="text-center mt-2">Hawker & Peddler Operator History</h2>

<h4>Filtering</h4>
<form class="mb-1" method="GET">
  <select
    class="form-select-sm"
    id="filterMonth"
    title="Month Filter"
    name="filterMonth"
  >
    {{#if filterMonth}}
      <option value="{{filterMonth}}" selected>{{filterMonth}}</option>
    {{else}}
      <option value="" disabled selected>Month...</option>
    {{/if}}
    {{#each monthDropdownValues}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <select
    class="form-select-sm"
    id="filterYear"
    title="Year Filter"
    name="filterYear"
  >
    {{#if filterYear}}
      <option value="{{filterYear}}" selected>{{filterYear}}</option>
    {{else}}
      <option value="" disabled selected>Year...</option>
    {{/if}}
    {{#each yearDropdownValues}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/hawkerPeddler/operatorHistory/{{hawkerPeddlerApplicantID}}"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Operators Table -->
<div class="row">
  <div class="col mb-1">
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
  </div>
</div>
<table
  class="table table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Operator Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>License #</th>
      <th>Issue Date</th>
      <th>Expiry Date</th>
      <th>Last Modified</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        <td>{{this.licenseNumber}}</td>
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{formatDate this.lastModified}}</td>
        <td>{{this.action}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>