<h2 class="text-center mt-2">Adult Entertainment Licenses</h2>
<h4>Filtering</h4>
<form class="mb-0" method="GET">
  <select
    class="form-select-sm"
    id="filterCategory"
    title="Category To Filter By"
    name="filterCategory"
    required
  >
    {{#if filterCategory}}
      <option value="{{filterCategory}}" selected>{{filterCategory}}</option>
    {{else}}
      <option value="" disabled selected>Filter By...</option>
    {{/if}}
    {{#each filterOptions}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <!-- filterValue input -->
  <input
    name="filterValue"
    id="filterValue"
    class="form-control-sm"
    pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
    title="No special characters!"
    placeholder="Search..."
    value="{{filterValue}}"
  />
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/adultEntertainment"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>
<div class="row">
  <div class="col mb-1">
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
    <a
      href="/adultEntertainment/addBusiness"
      class="btn btn-sm btn-primary float-end"
    >Add Business</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Business Name</th>
      <th>Owner Name</th>
      <th>Address</th>
      <th>Contact Name</th>
      <th>Contact Phone</th>
      <th>License #</th>
      <th>Issue Date</th>
      <th>Expiry Date</th>
      <th>Notes</th>
      <th style="width: 22%;">Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td>{{this.businessName}}</td>
        <td>{{this.ownerName}}</td>
        {{#each businessAddresses}}
          <td class="tableLink"><a
              class="stretched-link"
              id="historyLink"
              href="/adultEntertainment/businessAddressHistory/{{this.businessID}}"
              title="View Address History"
            >{{this.streetNumber}}
              {{this.streetName}},
              {{this.town}}
              {{this.postalCode}}
              {{this.poBoxAptRR}}</a></td>
        {{/each}}
        <td>{{this.contactName}}</td>
        <td>{{this.contactPhone}}</td>
        <td class="tableLink"><a
            class="stretched-link"
            id="historyLink"
            href="/adultEntertainment/businessHistory/{{this.businessID}}"
            title="View Business History"
          >{{this.licenseNumber}}</a></td>
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{this.notes}}</td>
        <td><a
            class="btn btn-sm btn-secondary my-1"
            data-bs-toggle="modal"
            data-bs-target="#renewalModal-{{this.businessID}}"
          >Renew</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            href="/adultEntertainment/editBusiness/{{this.businessID}}"
          >Edit</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#businessModal-{{this.businessID}}"
          >Documentation</a>
          <!-- Print to Filehold -->
          <a
            href="/adultEntertainment/printLicense/{{this.businessID}}"
            title="Print License"
          ><i class="icon-blue bi bi-printer-fill ms-1"></i></a></td>
      </tr>
      <!-- Documentation Modal -->
      <div
        class="modal fade"
        id="businessModal-{{this.businessID}}"
        tabindex="-1"
        aria-labelledby="businessModal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Documentation</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <strong>Police VSC:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.policeVSC}}</p>
                  </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                  <div class="col">
                    <strong>Certificate of Insurance:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.certificateOfInsurance}}</p>
                  </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                  <div class="col">
                    <strong>Photo ID:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.photoID}}</p>
                  </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                  <div class="col">
                    <strong>Health Inspection:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.healthInspection}}</p>
                  </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                  <div class="col">
                    <strong>Zoning Clearance:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.zoningClearance}}</p>
                  </div>
                </div>
                <hr class="mt-0">
                <div class="row">
                  <div class="col">
                    <strong>Fee Paid:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.feePaid}}</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Renewal Modal -->
      <div
        class="modal fade"
        id="renewalModal-{{this.businessID}}"
        tabindex="-1"
        aria-labelledby="Renewal Modal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Renew Business License</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- Need to get ID from form to update, but don't need user to see it - set display: none; -->
                <div class="row" style="display: none;">
                  <div class="col">
                    <label for="Business ID" class="form-label">Business ID</label>
                    <input
                      type="number"
                      class="form-control"
                      name="businessID"
                      value="{{this.businessID}}"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="Business Name" class="form-label">Business Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Business Name"
                      name="businessName"
                      value="{{this.businessName}}"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="License Number" class="form-label">License
                      Number</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="New License Number"
                      name="licenseNumber"
                    />
                  </div>
                </div>
                <p class="mt-4 mb-0 fst-italic">This license will expire on
                  <strong>{{formatDate ../modalExpiryDate}}</strong>
                  after renewal</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Submit Renewal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item">
        <a class="page-link" href="{{prev}}">Prev</a>
      </li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link {{#contains this.url ../currentPage}}active pagination-color {{/contains}}" href="{{this.url}}">{{this.number}}</a>
      </li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item">
        <a class="page-link" href="{{paginate.href}}">Next</a>
      </li>
    {{/if}}
  </ul>
</nav>