<h2 class="text-center mt-1">Taxi Licenses</h2>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Drivers Table -->
<div class="row">
  <h4>Taxi Drivers</h4>
  <div class="col mb-1">
    {{#if taxiDriversCount}}
      <strong class="float-start mt-2">{{taxiDriversCount}}</strong>
    {{/if}}
    <a
      href="/taxiLicenses/addDriver"
      class="btn btn-sm btn-primary float-end"
    >Add A Driver</a>
  </div>
</div>
<table class="table table-sm table-responsive table-bordered table-striped table-hover sortable">
  <thead>
    <tr>
      <th>Driver Name</th>
      <th>Phone Number</th>
      <th>Cab Company</th>
      <th>Address</th>
      <th>Issue Date</th>
      <th>Expiry Date</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each taxiDrivers}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.cabCompany}}</td>
        {{#each taxiDriverAddresses}}
          <td><a
              id="ownerLink"
              href="/taxiLicenses/driverAddressHistory/{{this.taxiDriverID}}"
            >{{this.streetNumber}}
              {{this.streetName}},
              {{this.town}}
              {{this.postalCode}}</a></td>
        {{/each}}
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{this.notes}}</td>
        <td><a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#driverRenewModal-{{this.taxiDriverID}}"
          >Renew</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            href="/taxiLicenses/editDriver/{{this.taxiDriverID}}"
          >Edit</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#taxiDriverDocumentationModal-{{this.taxiDriverID}}"
          >Documentation</a></td>
      </tr>
      <!-- Renew Modal -->
      <div
        class="modal fade"
        id="driverRenewModal-{{this.taxiDriverID}}"
        tabindex="-1"
        aria-labelledby="Driver Renewal Modal"
        aria-hidden="true"
      >
        <form method="POST" action="/taxiLicenses/broker/renewDriver">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Renew Taxi Driver</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <label for="Driver ID" class="form-label">Driver ID</label>
                    <input
                      class="form-control"
                      placeholder="Driver ID"
                      value="{{this.taxiDriverID}}"
                      name="taxiDriverID"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="Driver Name" class="form-label">Driver Name</label>
                    <input
                      class="form-control"
                      placeholder="Driver Name"
                      value="{{this.firstName}} {{this.lastName}}"
                      readonly
                    />
                  </div>
                </div>
                <p class="mt-4 mb-0 fst-italic">This license will expire on <strong>{{formatDate ../modalExpiryDate}}</strong> after renewal</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Submit Renewal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Documentation Modal -->
      <div
        class="modal fade"
        id="taxiDriverDocumentationModal-{{this.taxiDriverID}}"
        tabindex="-1"
        aria-labelledby="Taxi Driver Modal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Documentation</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <strong>Police VSC: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.policeVSC}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Citizenship: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.citizenship}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Photo ID: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.photoID}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Drivers Abstract: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.driversAbstract}}</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </tbody>
</table>

<!-- Taxi Plates Table -->
<div class="row">
  <h4>Plates</h4>
  <div class="col mb-1">
    {{#if taxiPlatesCount}}
      <strong class="float-start mt-2">{{taxiPlatesCount}}</strong>
    {{/if}}
    <a
      href="/taxiLicenses/addPlate"
      class="btn btn-sm btn-primary float-end"
    >Add A Plate</a>
  </div>
</div>
<table class="table table-sm table-responsive table-bordered table-striped table-hover sortable">
  <thead>
    <tr>
      <th>Town Plate Number</th>
      <th>Vehicle Owner Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Year, Make & Model</th>
      <th>Provincial Plate</th>
      <th>VIN</th>
      <th>Issue Date</th>
      <th>Expiry Date</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each taxiPlates}}
      <tr>
        <td>{{this.townPlateNumber}}</td>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        {{#each taxiPlateOwnerAddresses}}
          <td><a
              id="ownerLink"
              href="/taxiLicenses/plateOwnerAddressHistory/{{this.taxiPlateID}}"
            >{{this.streetNumber}}
              {{this.streetName}},
              {{this.town}}
              {{this.postalCode}}</a></td>
        {{/each}}
        <td>{{this.vehicleYearMakeModel}}</td>
        <td>{{this.provincialPlate}}</td>
        <td>{{this.vin}}</td>
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{this.notes}}</td>
        <td><a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#plateRenewModal-{{this.taxiPlateID}}"
          >Renew</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            href="/taxiLicenses/editPlate/{{this.taxiPlateID}}"
          >Edit</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#taxiPlateDocumentationModal-{{this.taxiPlateID}}"
          >Documentation</a></td>
      </tr>
      <!-- Renew Modal -->
      <div
        class="modal fade"
        id="plateRenewModal-{{this.taxiPlateID}}"
        tabindex="-1"
        aria-labelledby="Plate Renewal Modal"
        aria-hidden="true"
      >
        <form method="POST" action="/taxiLicenses/broker/renewPlate">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Renew Taxi Plate</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <label for="Plate ID" class="form-label">Taxi Plate ID</label>
                    <input
                      class="form-control"
                      placeholder="Taxi Plate ID"
                      value="{{this.taxiPlateID}}"
                      name="taxiPlateID"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="Vehicle Owner Name" class="form-label">Vehicle
                      Owner Name</label>
                    <input
                      class="form-control"
                      placeholder="Vehicle Owner Name"
                      value="{{this.firstName}} {{this.lastName}}"
                      readonly
                    />
                  </div>
                </div>
                <p class="mt-4 mb-0 fst-italic">This license will expire on <strong>{{formatDate ../modalExpiryDate}}</strong> after renewal</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Submit Renewal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Documentation Modal -->
      <div
        class="modal fade"
        id="taxiPlateDocumentationModal-{{this.taxiPlateID}}"
        tabindex="-1"
        aria-labelledby="Taxi Plate Modal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Documentation</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <strong>Police VSC: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.policeVSC}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Drivers Abstract: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.driversAbstract}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Photo ID: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.photoID}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Safety Certificate: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.safetyCertificate}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>By-Law Inspection: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.byLawInspection}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Insurance: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.insurance}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Vehicle Ownership: </strong>
                </div>
                <div class="col float-end">
                  <p>{{this.vehicleOwnership}}</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </tbody>
</table>