<h2 class="text-center mt-1">Street Closure Permits</h2>
<h4>Filtering</h4>
<form class="mb-0" method="GET">
  <select
    class="form-select-sm"
    id="filterCategory"
    title="Category To Filter By"
    name="filterCategory"
    required
  >
    {{#if filterCategory}}
      <option value="{{filterCategory}}" selected>{{filterCategory}}</option>
    {{else}}
      <option value="" disabled selected>Filter By...</option>
    {{/if}}
    {{#each filterOptions}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <!-- filterValue input -->
  <input
    name="filterValue"
    id="filterValue"
    class="form-control-sm"
    pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
    title="No special characters!"
    placeholder="Search..."
    value="{{filterValue}}"
  />
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/streetClosurePermit"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>
<div class="row">
  <div class="col mb-1">
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
    <a
      href="/streetClosurePermit/addPermit"
      class="btn btn-sm btn-primary float-end"
    >Create Permit</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Coordinator Name</th>
      <th>Everyday Contact Name</th>
      <th>Permit Number</th>
      <th>Issue Date</th>
      <th>Event Sponser</th>
      <th>Closure Location</th>
      <th>Closure Date</th>
      <th>Closure Time</th>
      <th>Description</th>
      <th>Noise Exemption</th>
      <th>Alcohol Served</th>
      <th>Estimated Attendance</th>
      <th>Clean-up Plan</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td>{{this.coordinatorName}}</td>
        <td>{{this.everydayContactName}}</td>
        <td>{{this.permitNumber}}</td>
        <td>{{this.issueDate}}</td>
        <td>{{this.sponser}}</td>
        <td>{{this.closureLocation}}</td>
        <td>{{this.closureDate}}</td>
        <td>{{this.closureTime}}</td>
        <td>{{this.description}}</td>
        <td>{{this.noiseExemption}}</td>
        <td>{{this.alcoholServed}}</td>
        <td>{{this.estimatedAttendance}}</td>
        <td>{{this.cleanupPlan}}</td>
        <td class="text-nowrap"><a
            class="btn btn-sm btn-secondary"
            href="/streetClosurePermit/editPermit/{{this.streetClosurePermitID}}"
          >Edit</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#contactModal-{{this.streetClosurePermitID}}"
          >Contact Info</a></td>
      </tr>
      <!-- Modal -->
      <div
        class="modal fade"
        id="contactModal-{{this.streetClosurePermitID}}"
        tabindex="-1"
        aria-labelledby="contactModal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Contact Info</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <label
                  for="Coordinator Name"
                  class="form-label fw-bold"
                >{{this.coordinatorName}} - Coordinator</label>
                <div class="col">
                  Phone Number:
                </div>
                <div class="col float-end">
                  {{this.coordinatorPhone}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Email:
                </div>
                <div class="col float-end">
                  {{this.coordinatorEmail}}
                </div>
              </div>
              <div class="row">
                <label
                  for="Everyday Contact Name"
                  class="form-label mt-2 fw-bold"
                >{{this.everydayContactName}} - Everyday Contact</label>
                <div class="col">
                  Phone Number:
                </div>
                <div class="col float-end">
                  {{this.everydayContactPhone}}
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Email:
                </div>
                <div class="col float-end">
                  {{this.everydayContactEmail}}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >Close</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item"><a
          class="page-link"
          href="{{paginate.href}}"
        >Next</a></li>
    {{/if}}
  </ul>
</nav>