<h2 class="text-center mt-2">Donation Bin</h2>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Property Owners Table -->
<div class="row">
  <h4 class="mb-0">Property Owners</h4>
  <div class="col mb-1">
    {{#if propertyOwnersCount}}
      <strong class="float-start mt-1">{{propertyOwnersCount}}</strong>
    {{/if}}
    <a
      href="/donationBin/addPropertyOwner"
      class="btn btn-sm btn-primary float-end"
    >Add Property Owner</a>
  </div>
</div>
<table
  class="table table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each propertyOwners}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        {{#each donationBinPropertyOwnerAddresses}}
          <td class="tableLink">
            <a
              class="stretched-link"
              href="/donationBin/donationBinPropertyOwnerAddressHistory/{{this.donationBinPropertyOwnerID}}"
              id="ownerLink"
              title="Address History"
            >{{this.streetNumber}}
              {{this.streetName}},
              {{this.town}}
              {{this.postalCode}}</a></td>
        {{/each}}
        <td><a
            class="btn btn-sm btn-secondary"
            href="/donationBin/editPropertyOwner/{{this.donationBinPropertyOwnerID}}"
          >Edit</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Operators Table -->
<div class="row">
  <h4 class="mb-0">Operators</h4>
  <div class="col mb-1">
    {{#if operatorsCount}}
      <strong class="float-start mt-1">{{operatorsCount}}</strong>
    {{/if}}
    <a
      href="/donationBin/addOperator"
      class="btn btn-sm btn-primary float-end"
    >Add Operator</a>
  </div>
</div>
<table
  class="table table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each operators}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        {{#each donationBinOperatorAddresses}}
          <td class="tableLink">
            <a
              class="stretched-link"
              href="/donationBin/donationBinOperatorAddressHistory/{{this.donationBinOperatorID}}"
              id="ownerLink"
              title="Address History"
            >{{this.streetNumber}}
              {{this.streetName}},
              {{this.town}}
              {{this.postalCode}}</a></td>
        {{/each}}
        <td style="width: 12%;"><a
            class="btn btn-sm btn-secondary my-1"
            href="/donationBin/editOperator/{{this.donationBinOperatorID}}"
          >Edit</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#donationBinModal-{{this.donationBinOperatorID}}"
          >Documentation</a></td>
      </tr>
      <!-- Modal -->
      <div
        class="modal fade"
        id="donationBinModal-{{this.donationBinOperatorID}}"
        tabindex="-1"
        aria-labelledby="Donation Bin Modal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Documentation</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <strong>Photo ID:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.photoID}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Charity Information:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.charityInformation}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Site Plan:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.sitePlan}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Certificate Of Insurance:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.certificateOfInsurance}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <strong>Owner Consent:</strong>
                  </div>
                  <div class="col float-end">
                    <p>{{this.ownerConsent}}</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {{/each}}
  </tbody>
</table>

<!-- Charity Table -->
<div class="row">
  <h4 class="mb-0">Charity/Organization</h4>
  <div class="col mb-1">
    {{#if charitiesCount}}
      <strong class="float-start mt-1">{{charitiesCount}}</strong>
    {{/if}}
    <a
      href="/donationBin/addCharity"
      class="btn btn-sm btn-primary float-end"
    >Add Charity/Organization</a>
  </div>
</div>
<table
  class="table table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration #</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Organization Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each charities}}
      <tr>
        <td>{{this.charityName}}</td>
        <td>{{this.registrationNumber}}</td>
        <td>{{this.phoneNumber}}</td>
        <td>{{this.email}}</td>
        <td>{{this.organizationType}}</td>
        <td>{{this.email}}</td>
        <td><a
            class="btn btn-sm btn-secondary"
            href="/donationBin/editCharity/{{this.donationBinCharityID}}"
          >Edit</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>