<h2 class="text-center mt-1">Edit Donation Bin Charity</h2>
<form class="row g-5 m-auto" method="POST">
  <div class="col-md-7 m-auto mt-5">
    <!-- check for error messages in the session -->
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
    <h4 class="mt-2">Charity/Organization Information</h4>
    <hr />
    <div class="row">
      <!-- Name -->
      <div class="col-sm-4">
        <label for="Charity Name" class="form-label">Charity Name*</label>
        <input
          type="text"
          placeholder="Charity Name"
          class="form-control"
          name="charityName"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{{formData.charityName}}}"
          maxlength="50"
          required
        />
      </div>
      <!-- Phone Number -->
      <div class="col-sm-4">
        <label for="Phone Number" class="form-label">Phone Number</label>
        <input
          type="text"
          class="form-control"
          placeholder="Phone Number"
          name="charityPhoneNumber"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.charityPhoneNumber}}"
        />
      </div>
      <!-- Email -->
      <div class="col-sm-4">
        <label for="Email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          name="charityEmail"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{formData.charityEmail}}"
          maxlength="50"
        />
      </div>
    </div>
    <div class="row">
      <!-- Issue Date -->
      <div class="col-sm-6">
        <label for="Issue Date" class="form-label">Issue Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Issue Date"
          name="issueDate"
          value="{{formData.issueDate}}"
        />
      </div>
      <!-- Expiry Date -->
      <div class="col-sm-6">
        <label for="Expiry Date" class="form-label">Expiry Date</label>
        <input
          type="date"
          class="form-control"
          placeholder="Expiry Date"
          name="expiryDate"
          value="{{formData.expiryDate}}"
        />
      </div>
    </div>
    <div class="row">
      <!-- Registration Number -->
      <div class="col-sm-6">
        <label for="Registration Number" class="form-label">Registration Number</label>
        <input
          type="text"
          placeholder="Registration Number"
          class="form-control"
          name="registrationNumber"
          pattern="[^()/><\][\\\x22,;|]+"
          title="No special characters!"
          value="{{{formData.registrationNumber}}}"
          maxlength="25"
        />
      </div>
      <!-- Organization Type -->
      <div class="col-sm-6">
        <label for="Organization Type" class="form-label">Organization Type</label>
        <select class="form-select" name="organizationType">
          {{#if formData.organizationType}}
            <option
              value="{{formData.organizationType}}"
              disabled
              selected
            >{{formData.organizationType}}</option>
          {{else}}
            <option disabled selected>Organization Type...</option>
          {{/if}}
          {{#each dropdownValues}}
            {{#if this.isDisabled}}
              <option
                value="{{this.dropdownValue}}"
                disabled
              >{{this.dropdownValue}}</option>
            {{else}}
              <option
                value="{{this.dropdownValue}}"
              >{{this.dropdownValue}}</option>
            {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          id="submitButton"
          class="btn btn-primary mt-2"
          type="submit"
        >Submit</button>
      </div>
    </div>
  </div>
</form>