<h2 class="text-center mt-2">Donation Bin Licensing</h2>
<h4>Filtering</h4>
<form class="mb-0" method="GET">
  <select
    class="form-select-sm"
    id="filterCategory"
    title="Category To Filter By"
    name="filterCategory"
    required
  >
    {{#if filterCategory}}
      <option value="{{filterCategory}}" selected>{{filterCategory}}</option>
    {{else}}
      <option value="" disabled selected>Filter By...</option>
    {{/if}}
    {{#each filterOptions}}
      {{#if this.isDisabled}}
        <option
          value="{{this.dropdownValue}}"
          disabled
        >{{this.dropdownValue}}</option>
      {{else}}
        <option value="{{this.dropdownValue}}">{{this.dropdownValue}}</option>
      {{/if}}
    {{/each}}
  </select>
  <!-- filterValue input -->
  <input
    name="filterValue"
    id="filterValue"
    class="form-control-sm"
    pattern="^[^\x27\x22;=_()*&%$#!<>\/\^\\]*$"
    title="No special characters!"
    placeholder="Search..."
    value="{{filterValue}}"
  />
  <button
    id="filterButton"
    class="btn btn-sm btn-primary"
    type="submit"
  >Search</button>
  <a
    id="filterButton"
    href="/donationBin"
    class="btn btn-sm btn-secondary"
    type="submit"
  >Reset</a>
</form>
<div class="row">
  <div class="col mb-1">
    {{#if queryCount}}
      <strong class="float-start mt-2">{{queryCount}}</strong>
    {{/if}}
    <a
      href="/donationBin/addDonationBin"
      class="btn btn-sm btn-primary float-end"
    >Add Donation Bin</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table
  class="table table-sm table-responsive table-bordered table-striped table-hover sortable"
>
  <thead>
    <tr>
      <th>Pickup Schedule</th>
      <th>Items Collected</th>
      <th>Colour</th>
      <th>Material</th>
      <th>Bin Address</th>
      <th>License Number</th>
      <th>Issue Date</th>
      <th>Expiry Date</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {{#each data}}
      <tr>
        <td class="tableLink"><a
            class="stretched-link"
            id="ownerLink"
            href="/donationBin/bins/{{this.donationBinID}}"
            title="View Donation Bin Information"
          >{{this.pickupSchedule}}</a></td>
        <td>{{this.itemsCollected}}</td>
        <td>{{this.colour}}</td>
        <td>{{this.material}}</td>
        {{#each donationBinAddresses}}
          <td class="tableLink">
            <a
              class="stretched-link"
              id="ownerLink"
              href="/donationBin/donationBinAddressHistory/{{this.donationBinID}}"
              title="View Donation Bin Address History"
            >{{this.streetNumber}}
              {{this.streetName}},
              {{this.town}}
              {{this.postalCode}}</a></td>
        {{/each}}
        <td class="tableLink"><a
            class="stretched-link"
            id="ownerLink"
            href="/donationBin/donationBinHistory/{{this.donationBinID}}"
            title="View Donation Bin History"
          >{{this.licenseNumber}}</a></td>
        <td>{{this.issueDate}}</td>
        <td>{{this.expiryDate}}</td>
        <td>{{this.notes}}</td>
        <td style="width: 13%;"><a
            class="btn btn-sm btn-secondary my-1"
            data-bs-toggle="modal"
            data-bs-target="#donationBinRenewModal-{{this.donationBinID}}"
          >Renew</a>
          |
          <a
            class="btn btn-sm btn-secondary"
            href="/donationBin/editDonationBin/{{this.donationBinID}}"
          >Edit</a>
          <!-- Print to Filehold -->
          <a
            href="/donationBin/printLicense/{{this.donationBinID}}"
            title="Print License"
          ><i class="icon-blue bi bi-printer-fill ms-1"></i></a>
        </td>
      </tr>
      <!-- Renewal Modal -->
      <div
        class="modal fade"
        id="donationBinRenewModal-{{this.donationBinID}}"
        tabindex="-1"
        aria-labelledby="donationBinRenewModal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Donation Bin Renewal</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- Need to get ID from form to update, but don't need user to see it - set display: none; -->
                <div class="row" style="display: none;">
                  <div class="col">
                    <label for="Donation Bin ID" class="form-label">Donation Bin
                      ID</label>
                    <input
                      class="form-control"
                      placeholder="Donation Bin ID"
                      value="{{this.donationBinID}}"
                      name="donationBinID"
                      readonly
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="Address" class="form-label">Address</label>
                    {{#each donationBinAddresses}}
                      <input
                        class="form-control"
                        placeholder="Address"
                        value="{{this.streetNumber}} {{this.streetName}}, {{this.town}} {{this.postalCode}}"
                        readonly
                      />
                    {{/each}}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="License Number" class="form-label">New License
                      Number</label>
                    <input
                      class="form-control"
                      placeholder="New License Number"
                      name="licenseNumber"
                    />
                  </div>
                </div>
                <p class="mt-4 mb-0 fst-italic">This license will expire on
                  <strong>{{formatDate ../modalExpiryDate}}</strong>
                  after renewal</p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Submit Renewal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link {{#contains this.url ../currentPage}}active pagination-color {{/contains}}" href="{{this.url}}">{{this.number}}</a>
      </li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item"><a
          class="page-link"
          href="{{paginate.href}}"
        >Next</a></li>
    {{/if}}
  </ul>
</nav>