<h2 class="text-center mt-1">Property Owner</h2>
<h4>Donation Bin Operators</h4>
<div class="row">
  <div class="col mb-1">
    {{#if queryCount}}
      <strong class="float-start mt-1">{{queryCount}}</strong>
    {{/if}}
    <a
      href="/donationBin/addDonationBinOperator"
      class="btn btn-sm btn-primary float-end"
    >Add Bin Operator</a>
  </div>
</div>

<!-- check for error messages in the session -->
{{#if message}}
  <div class="alert alert-danger">
    {{message}}
  </div>
{{/if}}

<!-- Table -->
<table class="table table-sm table-bordered table-striped table-hover sortable">
  <thead>
    <tr>
      <th>Operator Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td><a
            class="btn btn-sm btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#assignOperatorModal"
          >Assign A Bin</a></td>
      </tr>
      <!-- Modal -->
      <div
        class="modal fade"
        id="assignOperatorModal"
        tabindex="-1"
        aria-labelledby="assignOperatorModal"
        aria-hidden="true"
      >
        <form method="POST">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Assign A Bin</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <label for="Donation Bin ID" class="form-label">Donation Bin
                      ID</label>
                    <input
                      class="form-control"
                      placeholder="Donation Bin Operator ID"
                      value="{{this.donationBinOperatorID}}"
                      readonly
                    />
                  </div>
                </div>
                <label for="Donation Bins" class="form-label">Donation Bins</label>
                <input
                  class="form-control"
                  title="operators"
                  name="operator"
                  list="operators"
                  placeholder="Donation Bins..."
                />
                <datalist id="operators">
                  {{#each ../operators}}
                    <option
                      value="{{this.firstName}} {{this.lastName}}"
                    >{{this.firstName}} {{this.lastName}}</option>
                  {{/each}}
                </datalist>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {{/each}}
  </tbody>
</table>
<nav id="pagination">
  <ul class="pagination pagination-sm">
    {{#if paginate.hasPreviousPages}}
      <li class="page-item"><a class="page-link" href="{{prev}}">Prev</a></li>
    {{/if}}
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="{{this.url}}">{{this.number}}</a></li>
    {{/each}}
    {{#if hasMorePages}}
      <li class="page-item"><a
          class="page-link"
          href="{{paginate.href}}"
        >Next</a></li>
    {{/if}}
  </ul>
</nav>